@charset "UTF-8";
/* =========================================================
body
========================================================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans+JP:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0;
  line-height: 1.3rem;
}

body {
  color: #000;
  font-family: 'Noto Sans JP', system-ui, sans-serif;
  font-size: 1.4rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

button {
  cursor: pointer;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

.wrapper::after {
  content: "";
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: url("../images/mv_pc.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .wrapper::after {
    content: "";
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../images/mv_sp.jpg") no-repeat;
    background-size: cover;
  }
}

main {
  display: block;
  /*IE*/
}

/* =========================================================
default
========================================================= */
/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.phd__in {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}

.phd__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phd__sns li {
  margin-right: 8px;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}

.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}

.phd__sns li .phd__sns__item__link-tiktok {
  background: #000000;
}

.phd__sns li .phd__sns__item__link-tiktok svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-tiktok svg {
    height: 17px;
  }
}

.phd__sns li .phd__sns__item__link-x {
  background: #000;
}

.phd__sns li .phd__sns__item__link-x svg {
  fill: #fff;
  height: 18px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-x svg {
    height: 13px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft {
  margin-top: 13px;
  padding: 50px 0 40px;
  background: #222;
  position: relative;
}

@media screen and (max-width: 769px) {
  .pft {
    margin-top: 13px;
    padding: 45px 0 58px;
  }
}

.pft__in {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .pft__in {
    max-width: 930px;
  }
}

.pft__logo {
  text-align: center;
}

.pft__logo svg {
  fill: #fff;
}

.pft__logo a {
  text-decoration: none;
}

.pft__logo__txt {
  width: 14px;
  height: 32px;
  margin-right: 4px;
}

.pft__logo__img {
  width: 120px;
  height: 36px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.pft__logo__img.parcoya-ueno {
  width: 205px;
  height: 34px;
}

.pft__logo.nagoya .pft__logo__txt {
  margin-right: 5px;
}

.pft__pageTop {
  position: absolute;
  top: -66px;
  left: 50%;
  margin-left: -22px;
}

@media screen and (min-width: 769px) {
  .pft__pageTop {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;
    margin: 0;
  }
}

.pft__pageTop a {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  background: #222;
  border-radius: 50%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .pft__pageTop a {
    width: 54px;
    height: 54px;
    background: #FFF;
    border-radius: 50%;
    text-indent: 100%;
  }
}

.pft__pageTop a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  width: 7px;
  height: 7px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  transform: rotate(-45deg);
}

@media screen and (min-width: 769px) {
  .pft__pageTop a:after {
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -7px;
    width: 11px;
    height: 11px;
    border-top: #222 3px solid;
    border-right: #222 3px solid;
  }
}

.pft__pageTop a:hover {
  opacity: 0.7;
}

.pft__copyright {
  margin-top: 30px;
  text-align: center;
  line-height: 0;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.title {
  margin-bottom: 50px;
}

.title .icon-title {
  margin-bottom: 36px;
}

.title h2 {
  font-size: 72px;
  color: #A87236;
  letter-spacing: 5.76px;
  line-height: 1.4;
  text-align: center;
  font-family: "garamond-premier-pro-display", sans-serif;
}

.swiper-event-bott {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.swiper-event-bott .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  position: relative;
}

.swiper-event-bott .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 1px solid #A87236;
  border-radius: 100%;
  background: transparent;
  opacity: 1;
  margin-right: 16px;
}

.swiper-event-bott .swiper-pagination .swiper-pagination-bullet:last-child {
  margin: 0;
}

.swiper-event-bott .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #A87236;
}

.swiper-event-bott .swiper-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  left: 0;
  right: 0;
  margin: 0;
  width: 60px;
  height: 60px;
}

.mb-140 {
  margin-bottom: 140px;
}

/* =========================================================
layout
========================================================= */
/* =========================================================
header
========================================================= */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__title img {
  vertical-align: bottom;
}

/* =========================================================
ヘッダー下バナー
========================================================= */
.top-bnr-block {
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 0 0;
}

.top-bnr-block .bnr {
  margin: 0 auto 5px;
}

.top-bnr-block .bnr:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .top-bnr-block {
    max-width: 1024px;
    padding: 60px 0 0;
  }
  .top-bnr-block .bnr {
    margin: 0 auto 20px;
  }
}

/* =========================================================
Main
========================================================= */
@media screen and (min-width: 769px) {
  .main-contents {
    padding: 0 20px;
  }
}

/* =========================================================
Local navi
========================================================= */
.localnav {
  max-width: 1024px;
  margin: 60px auto 0;
  padding: 0 20px;
}

@media screen and (min-width: 769px) {
  .localnav {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .localnav {
    margin-top: 40px;
  }
}

.localnav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .localnav-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.localnav-item {
  background: #E51B81;
  color: #fff;
  transition: 0.3s ease;
}

.localnav-item:hover {
  background: #E8B7EA;
}

.localnav-item:last-child {
  margin-right: 0;
}

.localnav-item a,
.localnav-item button {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .localnav-item a,
  .localnav-item button {
    font-size: 16px;
    height: 60px;
  }
}

/* =========================================================
New&Renew items
========================================================= */
[v-cloak] {
  display: none;
}

.newrenew-block {
  max-width: 1024px;
  margin: 90px auto 0;
  padding: 0 20px;
}

@media screen and (min-width: 769px) {
  .newrenew-block {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-block {
    margin: 65px auto 0;
  }
}

.newrenew-block .read-ttl {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #1A1311;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .newrenew-block .read-ttl {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
  }
}

.newrenew-block .read-ttl::after {
  z-index: -1;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 0px;
  background: #1A1311;
}

.newrenew-block .read-ttl span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
  z-index: 2;
}

.newrenew-block .list-block {
  margin: 0 auto 50px;
  display: none;
}

.newrenew-block .list-block#all-list-block {
  display: block;
}

.newrenew-block .list-block:last-child {
  margin-bottom: 0;
}

.newrenew-block .ttl {
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .item-list {
    width: calc(100% + 20px);
    margin-left: -10px;
    justify-content: initial;
  }
}

@media screen and (max-width: 768px) {
  .item-list {
    width: calc(100% + 10px);
    margin-left: -5px;
    justify-content: initial;
  }
}

.item-list .item {
  width: calc(50% - 10px);
  margin: 0 5px 20px;
  box-sizing: border-box;
  display: flex;
}

.item-list .item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 769px) {
  .item-list .item {
    margin-bottom: 10px;
    width: 48.9%;
    padding: 20px 10px;
  }
}

.item-list .item .front-wrap {
  width: 100%;
}

.item-list .front-cont {
  height: 100%;
  background: #fff;
  border: 1px solid #999999;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont {
    padding: 0 0 0 0;
    box-sizing: border-box;
    position: relative;
  }
}

.item-list .front-cont .detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-list .front-cont .img-wrap {
  position: relative;
}

.item-list .front-cont .badge-l {
  width: 115px;
  padding: 16px 10px 10px;
  background: #E74A26;
  position: absolute;
  color: #fff;
  top: -20px;
  left: -10px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l {
    text-align: center;
    width: 60px;
    height: 75px;
    padding: 11px 0 0 0;
  }
}

.item-list .front-cont .badge-l::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #E74A26 transparent transparent transparent;
}

@media screen and (min-width: 769px) {
  .item-list .front-cont .badge-l::after {
    border-width: 30px 115px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l::after {
    border-width: 15px 60px 0 0;
    top: 100%;
    left: 0;
  }
}

.item-list .front-cont .badge-l .date {
  font-size: 36px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l .date {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l .date br {
    display: none;
  }
}

.item-list .front-cont .badge-l .date b {
  display: block;
  font-weight: 400;
  font-size: 20px;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l .date b {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }
}

.item-list .front-cont .badge-l .new-renew {
  margin: 12px 0 0;
  padding: 17px 0 0;
  border-top: 1px solid #fff;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .badge-l .new-renew {
    font-size: 12px;
    margin: 6px auto 10px;
    padding: 5px 0 0;
    width: 40px;
  }
}

.item-list .front-cont .badge-r {
  width: 115px;
  height: 115px;
  background: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.item-list .front-cont .img {
  padding: 30px 30px 20px;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .img {
    padding: 10px;
  }
}

.item-list .front-cont .logo {
  display: grid;
  grid-template-columns: 205px 1fr;
  align-items: center;
  gap: 25px;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .logo {
    grid-template-columns: 64px 1fr;
    overflow: hidden;
    gap: 8px;
    padding: 0 10px 11px;
  }
}

.item-list .front-cont .logo .newopen {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #3B584F;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .logo .newopen {
    font-size: 12px;
    line-height: 1.1;
  }
}

.item-list .front-cont .miniwrap {
  padding: 0 10px;
  flex-grow: 1;
}

@media screen and (min-width: 769px) {
  .item-list .front-cont .miniwrap {
    padding: 23px 30px 30px;
  }
}

.item-list .front-cont .shop {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 13px;
  margin-bottom: 13px;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .shop {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
  }
}

.item-list .front-cont .floor,
.item-list .front-cont .ctg {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .floor,
  .item-list .front-cont .ctg {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .ctg {
    margin-top: 4px;
  }
}

.item-list .front-cont .catch {
  width: 100%;
  text-align: left;
}

.item-list .front-cont .catch.catchfirst {
  position: relative;
}

.item-list .front-cont .catch.catchfirst .sido-ico {
  background: #EFB890;
  width: 200px;
  height: 50px;
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  top: -26px;
  right: -1px;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .catch.catchfirst .sido-ico {
    width: 100px;
    height: 23px;
    right: -1px;
    top: -15px;
  }
}

.item-list .front-cont .catch.catchfirst .sido-ico span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .catch.catchfirst .sido-ico span {
    height: 23px;
    font-size: 11px;
    line-height: 14px;
    width: 100px;
  }
}

.item-list .front-cont .more {
  width: 100%;
  margin: auto auto 29px;
  padding: 0 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .more {
    margin: 16px 0 10px;
    padding: 0 10px;
  }
}

.item-list .front-cont .more button {
  width: 100%;
  height: 40px;
  background: #E8B7EA;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  transition: 0.4s;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .item-list .front-cont .more button {
    font-size: 12px;
    height: 24px;
  }
}

.item-list .front-cont .more button:hover {
  opacity: .7;
}

.newrenew-modal .modal-wrap {
  width: calc(100vw - 80px);
  max-width: 1024px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-wrap {
    width: calc(100vw - 40px);
    top: inherit;
    left: inherit;
    margin: 0 auto;
    position: relative;
    transform: inherit;
    overflow-y: initial;
    background: #fff;
    padding-top: 0;
    border: 1px solid;
    border-color: #1A1311;
  }
}

.newrenew-modal .modal-cont {
  background: #fff;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .modal-cont {
    max-height: calc(100vh - 330px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    box-sizing: initial;
    overflow-y: auto;
    border: 1px solid;
    border-color: #1A1311;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-cont {
    /*
      padding-top: 172px;
      position: relative;*/
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-cont .logo .newopen {
    font-size: 18px;
    line-height: 1.5;
  }
}

.newrenew-modal .img-wrap {
  position: relative;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .img-wrap {
    width: 53.145%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-wrap {
    margin: 20px;
  }
}

.newrenew-modal .img-slider {
  position: relative;
}

.newrenew-modal .img-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: 0.4s;
}

.newrenew-modal .img-slider .slick-arrow:hover {
  opacity: 0.6;
}

.newrenew-modal .img-slider .slick-arrow.prev {
  left: 50%;
  margin-left: -33%;
  bottom: -43px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-arrow.prev {
    left: 36px;
    margin-left: 0;
  }
}

.newrenew-modal .img-slider .slick-arrow.next {
  right: 50%;
  margin-right: -33%;
  bottom: -43px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-arrow.next {
    right: 36px;
    margin-right: 0;
  }
}

.newrenew-modal .img-slider .slick-arrow button {
  display: block;
  width: 35px;
  height: 35px;
  background: #4E555F;
  border: 0;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-arrow button {
    width: 28px;
    height: 28px;
  }
}

.newrenew-modal .img-slider .slick-arrow button:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;
  position: absolute;
  top: 13px;
  left: 14px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-arrow button:before {
    width: 6px;
    height: 6px;
    top: 10px;
    left: 11px;
  }
}

.newrenew-modal .img-slider .slick-arrow button.slick-next {
  transform: scale(-1, -1);
}

.newrenew-modal .img-slider .slick-dots {
  bottom: -38px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-dots {
    bottom: -34px;
  }
}

.newrenew-modal .img-slider .slick-dots li {
  margin: 0 4px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-dots li {
    margin: 0 5px;
  }
}

.newrenew-modal .img-slider .slick-dots li button:before {
  background-color: #E8B7EA;
  border-radius: 50%;
  content: "";
  color: #E8B7EA;
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .img-slider .slick-dots li button:before {
    height: 10px;
    width: 10px;
  }
}

.newrenew-modal .img-slider .slick-dots li.slick-active button:before {
  background-color: #4E555F;
}

.newrenew-modal .detail {
  padding: 10px 20px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .newrenew-modal .detail {
    padding: 0 !important;
    width: 42.5%;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .detail {
    margin: 60px auto 0;
    /*
      padding: 0 !important;
      width: 83%;*/
  }
}

.newrenew-modal .catchfirst {
  background-color: #EFB890;
  width: 200px;
  height: 50px;
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  top: -26px;
  right: -1px;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catchfirst {
    width: 148px;
    height: 32px;
    top: -16px;
    right: -1px;
  }
}

.newrenew-modal .catchfirst span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catchfirst span {
    font-size: 16px;
    line-height: 18px;
    width: 148px;
    height: 32px;
  }
}

.newrenew-modal .side-wrap {
  background: #E74A26;
  text-align: left;
  position: absolute;
  top: -60px;
  left: -10px;
  font-weight: 700;
  color: #fff;
  box-sizing: border-box;
  padding: 17px 20px 0 37px;
  height: 80px;
  min-width: 230px;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .side-wrap {
    height: auto;
    padding: 9px 10px 0;
    top: -30px;
    min-width: 0;
    width: 85px;
  }
}

.newrenew-modal .side-wrap::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 20px 0 0;
  border-color: #E74A26 transparent transparent transparent;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .side-wrap::after {
    border-width: 20px 85px 0 0;
    top: 100%;
    left: 0;
  }
}

.newrenew-modal .date {
  font-size: 34px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .date {
    font-size: 24px;
    line-height: 28px;
    display: block;
    text-align: center;
  }
}

.newrenew-modal .date b {
  font-size: 22px;
  padding-left: 3px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .date b {
    font-size: 16px;
    display: block;
    padding-left: 0;
  }
}

.newrenew-modal .new-renew {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  line-height: 40px;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .new-renew {
    border-top: 1px solid #fff;
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    margin: 1px auto 0;
    text-align: center;
    width: 100%;
  }
}

.newrenew-modal .first {
  margin: .8em auto 0;
  text-align: center;
  font-size: 15px;
}

.newrenew-modal .logo {
  display: grid;
  grid-template-columns: 205px 1fr;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .logo {
    margin: 0 auto;
    grid-template-columns: 130px 1fr;
    gap: 16px;
    margin-bottom: 15px;
  }
}

.newrenew-modal .newopen {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #3B584F;
}

.newrenew-modal .miniwrap {
  border-bottom: 1px solid #DCDCDC;
  box-sizing: border-box;
  padding: 0 0 25px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .miniwrap {
    border-top: none;
    padding: 0 0 25px;
  }
}

.newrenew-modal .shop {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 13px;
  margin-bottom: 13px;
  letter-spacing: 0;
}

.newrenew-modal .floor,
.newrenew-modal .ctg {
  margin: 10px auto 0;
  font-size: 14px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .floor,
  .newrenew-modal .ctg {
    margin-top: 12px;
  }
}

.newrenew-modal .introduction {
  margin: 17px auto 0;
  font-size: 14px;
  line-height: 25px;
}

.newrenew-modal .open-event {
  margin: 20px auto 0;
}

.newrenew-modal .open-event .ttl {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  color: #E51B81;
}

.newrenew-modal .open-event .txt {
  margin: 15px auto 0;
  font-size: 14px;
  line-height: 25px;
}

.newrenew-modal .link-list {
  width: 100%;
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .link-list {
    margin: 30px 20px 25px;
    width: auto;
  }
}

.newrenew-modal .link-item {
  width: 42px;
  margin: 0 15px 0 0;
}

.newrenew-modal .link-item:last-child {
  margin-right: 0;
}

.newrenew-modal .link-item a {
  height: 42px;
  display: block;
  background: #E8B7EA;
  border-radius: 100%;
  transition: 0.4s;
}

.newrenew-modal .link-item a:hover {
  background: #4E555F;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .link-item {
    width: 42px;
    height: 42px;
  }
  .newrenew-modal .link-item a {
    height: 42px;
  }
}

.newrenew-modal .modal-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: 0.4s;
}

.newrenew-modal .modal-arrow:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow {
    width: 35px;
    height: 35px;
  }
}

.newrenew-modal .modal-arrow button {
  display: block;
  background: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #4E555F;
  opacity: .84;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow button {
    width: 35px;
    height: 35px;
    backgournd: #4E555F;
    opacity: 1;
  }
}

.newrenew-modal .modal-arrow button::after {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  top: 0;
  left: -7px;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow button::after {
    width: 8px;
    height: 8px;
  }
}

.newrenew-modal .modal-arrow.prev {
  position: absolute;
  top: 50%;
  left: calc(50% - 550px);
  transform: translateY(-50%) translateX(-50%);
}

.newrenew-modal .modal-arrow.prev button::after {
  transform: rotate(135deg);
  left: 0px;
  right: -7px;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow.prev button::after {
    right: -3px;
  }
}

@media screen and (max-width: 1180px) {
  .newrenew-modal .modal-arrow.prev {
    left: 10px;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow.prev {
    transform: initial !important;
    top: initial !important;
    bottom: 3px;
    left: 20px;
    position: absolute;
  }
}

.newrenew-modal .modal-arrow.next {
  position: absolute;
  top: 50%;
  left: calc(50% + 550px);
  transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 1180px) {
  .newrenew-modal .modal-arrow.next {
    right: 10px;
    left: initial;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-arrow.next {
    transform: initial !important;
    top: initial !important;
    bottom: 3px;
    right: 20px;
    position: absolute;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .modal-control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    position: relative;
  }
}

.newrenew-modal .catch {
  background: #F1F4F0;
  width: 100%;
  padding: 25px 25px 25px 280px;
  box-sizing: border-box;
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  text-align: left;
  color: #000;
}

.newrenew-modal .catch.catchfirstshow {
  padding-right: 110px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catch.catchfirstshow {
    padding: 45px 20px 20px;
  }
}

.newrenew-modal .catch.catchfirstshow .sido-ico {
  max-width: 110px;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catch.catchfirstshow .sido-ico {
    max-width: 80px;
    right: -10px;
  }
}

.newrenew-modal .catch.catchfirstshow .sido-ico span {
  color: #1A1311;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 95%;
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catch.catchfirstshow .sido-ico span {
    font-size: 16px;
    line-height: 18px;
    top: 45%;
  }
}

@media screen and (max-width: 768px) {
  .newrenew-modal .catch {
    padding: 45px 10px 10px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .modal-arrow-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    bottom: 5%;
  }
  .modal-arrow-close .js-modalclose {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 18px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .modal-arrow-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
  }
  .modal-arrow-close .js-modalclose {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 18px;
    font-weight: 400;
  }
}

/* =========================================================
modal
========================================================= */
.modal-block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 50;
  display: none;
}

@media screen and (max-width: 768px) {
  .modal-block {
    padding: 98px 0 220px;
    overflow: scroll;
    box-sizing: border-box;
    background: #ffffff;
    opacity: 0.95;
  }
}

.modal-bg {
  width: 100vw;
  height: 150vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.95;
}

@media screen and (max-width: 768px) {
  .modal-bg {
    background: #ffffff;
    opacity: 0.95;
  }
}

.modal-close {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100px;
  right: 0;
  transition: 0.4s;
}

.modal-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .modal-close {
    top: -80px;
  }
}

.modal-close:before {
  background: url("../images/close.png") no-repeat 0 0;
  background-size: 100%;
  content: "";
  height: 32px;
  width: 32px;
}

ul.item-list-pickup > li {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup > li {
    margin-bottom: 55px;
  }
}

ul.item-list-pickup .front-wrap {
  width: 100%;
  position: relative;
  background: #fff;
  border: 1px solid #999999;
}

ul.item-list-pickup .front-cont {
  overflow-y: initial;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .front-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 94.5%;
    padding: 30px 0;
    box-sizing: initial;
  }
}

ul.item-list-pickup .front-cont .img-wrap {
  position: relative;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .img-wrap {
    min-height: initial;
    margin: 20px 20px 0;
  }
}

ul.item-list-pickup .front-cont .img-wrap img {
  display: block;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .img-wrap img {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    min-width: initial;
    min-height: initial;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .front-cont .img-wrap {
    width: 49.65%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .front-cont .detail {
    margin-left: 40px;
    width: calc(42.1% + 28px);
    display: flex;
    flex-direction: column;
  }
}

ul.item-list-pickup .front-cont .side-wrap {
  background: #E74A26;
  text-align: left;
  position: absolute;
  top: -20px;
  left: -10px;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
  padding: 19px 20px 0 35px;
  height: 80px;
  min-width: 230px;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .side-wrap {
    height: auto;
    padding: 9px 5px 4px 5px;
    top: -28px;
    min-width: 70px;
    text-align: center;
  }
}

ul.item-list-pickup .front-cont .side-wrap::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #E74A26 transparent transparent transparent;
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .front-cont .side-wrap::after {
    border-width: 80px 20px 0 0;
    top: 0;
    left: 100%;
  }
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .side-wrap::after {
    border-width: 20px 70px 0 0;
    top: 100%;
    left: 0;
  }
}

ul.item-list-pickup .front-cont .date {
  font-size: 34px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .date {
    display: block;
    font-size: 24px;
    line-height: 28px;
  }
}

ul.item-list-pickup .front-cont .date b {
  font-size: 22px;
  padding-left: 3px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .date b {
    font-size: 16px;
    display: block;
    padding-left: 0;
  }
}

ul.item-list-pickup .front-cont .new-renew {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  line-height: 40px;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .new-renew {
    border-top: 1px solid #fff;
    font-size: 16px;
    line-height: 28px;
    padding-top: 0;
    margin: 1px auto 0;
    text-align: center;
    width: 45px;
  }
}

ul.item-list-pickup .front-cont .link-list {
  width: 100%;
  margin: 10px auto 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.item-list-pickup .front-cont .link-item {
  width: 40px;
  margin: 0 10px 0 0;
}

ul.item-list-pickup .front-cont .link-item:last-child {
  margin-right: 0;
}

ul.item-list-pickup .front-cont .link-item a {
  display: block;
  background: #00ACDA;
  border-radius: 100%;
  transition: 0.4s;
}

ul.item-list-pickup .front-cont .link-item a:hover {
  background: #56C800;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .front-cont .miniwrap {
    margin: 0 auto;
  }
}

ul.item-list-pickup .detail {
  padding-top: 59px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .detail {
    padding: 0;
    margin: 10px 20px 25px;
  }
}

ul.item-list-pickup .catch {
  width: 100%;
}

ul.item-list-pickup .catch.catchfirst {
  position: relative;
}

ul.item-list-pickup .catch.catchfirst .sido-ico {
  background: #EFB890;
  width: 200px;
  height: 50px;
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  top: -26px;
  right: -1px;
  z-index: 10;
  text-align: center;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .catch.catchfirst .sido-ico {
    width: 148px;
    height: 32px;
    right: -1px;
    top: -16px;
  }
}

ul.item-list-pickup .catch.catchfirst .sido-ico span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .catch.catchfirst .sido-ico span {
    font-size: 16px;
    line-height: 18px;
  }
}

ul.item-list-pickup .first {
  margin: .8em auto 0;
  text-align: center;
  font-size: 15px;
}

ul.item-list-pickup .logo {
  display: grid;
  grid-template-columns: 205px 1fr;
  align-items: center;
  gap: 25px;
  margin-bottom: 34px;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .logo {
    grid-template-columns: 130px 1fr;
    gap: 16px;
    margin-bottom: 15px;
  }
}

ul.item-list-pickup .logo .newopen {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  color: #3B584F;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .logo .newopen {
    font-size: 18px;
  }
}

ul.item-list-pickup .shop {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 13px;
  margin-bottom: 13px;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .shop {
    margin: 0 15px 0 0;
    font-size: 15px;
    line-height: 24px;
  }
}

ul.item-list-pickup .floor,
ul.item-list-pickup .ctg {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .floor,
  ul.item-list-pickup .ctg {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .floor {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .ctg {
    margin-top: 9px;
  }
}

ul.item-list-pickup .more {
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .more {
    max-width: 100%;
    margin-top: 20px;
  }
}

ul.item-list-pickup .more button {
  width: 100%;
  height: 50px;
  background: #E8B7EA;
  font-weight: 500;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s ease;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .more button {
    font-size: 16px;
    height: 40px;
  }
}

ul.item-list-pickup .more button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .modal-wrap {
    padding-top: 0;
  }
}

ul.item-list-pickup .modal-wrap .catch {
  padding: 45px 10px 10px;
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .modal-wrap .catch {
    padding: 25px 25px 25px 280px;
  }
  ul.item-list-pickup .modal-wrap .catch.catchfirstshow {
    padding: 25px 80px 25px 280px;
  }
}

@media screen and (min-width: 769px) {
  ul.item-list-pickup .modal-wrap .img-wrap {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  ul.item-list-pickup .modal-wrap .img-wrap {
    margin: 20px;
  }
}

.item-list-all .item:first-child .modal-arrow.prev button {
  display: none !important;
}

#ladies-list-block .item-list-pickup.js-tabarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#ladies-list-block .item-list-pickup.js-tabarea > li {
  width: 100%;
}

#ladies-list-block .item-list-pickup.js-tabarea > li:nth-child(1) {
  order: 1;
}

#ladies-list-block .item-list-pickup.js-tabarea > li:nth-child(2) {
  order: 3;
}

#ladies-list-block .item-list-pickup.js-tabarea > li:nth-child(3) {
  order: 2;
}

body {
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 400;
}

.phd {
  position: relative;
  z-index: 23;
}

.header {
  position: relative;
  z-index: 22;
}

.container {
  max-width: 1230px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-bacground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.main-bacground img {
  width: 100%;
}

.ribo-text {
  max-width: 1153px;
  margin: 60px auto 0;
  padding-left: 15px;
  padding-right: 15px;
  background: url("../images/ribo-background.png") no-repeat center;
  background-size: 100%;
}

.ribo-text-body {
  font-size: 20px;
  letter-spacing: 1px;
  color: #A87236;
  line-height: 3;
  padding: 110px 20px;
  text-align: center;
}

.list-block-header-icon {
  max-width: 190px;
  margin: 0 auto 35px;
}

.list-block-header h2 {
  font-size: 72px;
  color: #A87236;
  letter-spacing: 5.76px;
  line-height: 1.4;
  text-align: center;
  font-family: 'garamond-premier-pro-display', sans-serif;
  margin-bottom: 50px;
}

.item-present {
  display: flex;
  background: #fff;
  color: #534631;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  border: 1px solid #A87236;
  padding: 40px;
}

.item-present .avarta {
  flex: 0 0 320px;
  max-width: 320px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-present .info h3 {
  font-size: 20px;
  color: #534631;
  font-weight: bold;
}

.item-present .info h3 span {
  background: #FFEBFB;
  padding: 1px 4px;
}

.item-present .desc {
  padding: 20px 0;
}

.item-present .bott-present ul {
  list-style: none;
  display: flex;
}

.item-present .bott-present ul li {
  margin-right: 30px;
  width: 100%;
}

.item-present .bott-present ul li:last-child {
  margin-right: 0;
}

.item-present .bott-present ul li:first-child {
  max-width: 185px;
  flex: 0 0 185px;
}

.item-present .bott-present ul li:nth-child(2) {
  max-width: 268px;
  flex: 0 0 268px;
}

.item-present .bott-present .icon img {
  width: auto;
}

.item-present .item-bott {
  display: flex;
  color: #534631;
  font-size: 18px;
  line-height: normal;
}

.item-present .item-bott .icon {
  flex: 0 0 28px;
  margin-right: 10px;
}

.item-present .item-bott .inf h5 {
  color: #A87236;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.item-event {
  position: relative;
  background: #fff;
  padding: 20px 20px 40px 20px;
  border: 1px solid #A87236;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  color: #534631;
}

.item-event .avarta {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-event .info .desc {
  padding: 20px 0 25px 0;
}

.item-event .info h3 {
  font-size: 20px;
  font-weight: bold;
}

.item-event .info h3 span {
  background: #FFEBFB;
  padding: 1px 4px;
}

.box-sns .title {
  margin-bottom: 34px;
}

.content-sns {
  max-width: 1024px;
  margin: 0 auto;
}

/* =========================================================
slick
========================================================= */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .slick-dotted.slick-slider {
    margin-bottom: 60px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
  }
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1.0;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: #FFF100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #56C800;
  opacity: 1;
}

/*# sourceMappingURL=map/style.css.map */
