@charset "utf-8";
/* =========================================================
colors
========================================================= */
@import "colors";

/* =========================================================
header
========================================================= */
.header {
  &__title {
    text-align: center;
    img {
      vertical-align: bottom;
    }
  }
}
@media screen and (min-width:769px) {
  .header {
    &__title {
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}


/* =========================================================
Main
========================================================= */
// @media screen and (min-width: 769px) {
//   .main-contents {
//     padding: 0 20px;
//   }
// }


/* =========================================================
ヘッダー下バナー
========================================================= */
.top-bnr-block {
  max-width: 596px;
  margin: 0 auto;
  padding: 20px 0 0;
  .bnr {
    margin: 0 auto 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width:769px) {
  .top-bnr-block {
    max-width: 930px;
    padding: 60px 0 0;
    .bnr {
      margin: 0 auto 20px;
    }
  }
}



/* =========================================================
YouTube
========================================================= */
.youtube {
  &-block {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 0;
  }
  &-wrap {
    padding-top: 56.25%;
    position: relative;
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (min-width:769px) {
  .youtube {
    &-block {
      padding: 60px 0 0;
    }
  }
}




/* =========================================================
Local navigation
========================================================= */
.localnav-wrap {
  max-width: 1024px;
  padding: 30px 0 0;
  margin: 0 auto;
}
.localnav {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  &__item {
    width: calc(50% - 5px);
    position: relative;
    margin: 0 10px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      padding: 7px 0;
      text-align: center;
      background: $localnav;
      font-size: 1.6rem;
      font-weight: bold;
      position: relative;
      color: $localnav_txt;
      border-radius: 5px;
      text-decoration: none;
      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        border-color: transparent transparent transparent transparent;
        position: absolute;
        bottom: -8px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
    }
  }
}
@media screen and (min-width:769px){
  .localnav-wrap {
    padding: 60px 0 0;
  }
  .localnav {
    padding: 0;
    &__item {
      width: calc(50% - 20px);
      margin: 0 40px 0 0;
      a {
        padding: 23px 0;
        font-size: 2.1em;
        border-radius: 8px;
        &:after {
          border-width: 8px 6px 0 6px;
        }
        &:hover {
          opacity: 0.7;
          text-decoration: none;
          background: $localnav_on;
          color: $localnav_on_txt;
        }
      }
    }
  }
}

/* current */
body.page-sale .localnav__item01,
body.page-tag .localnav__item02 {
  a {
    background: $localnav_on;
    color: $localnav_on_txt;
    &:after {
      border-color: $localnav_on transparent transparent transparent;
    }
  }
}



/* =========================================================
Contents block
========================================================= */
.contents {
  &-wrap {
    max-width: 1024px;
    margin: 40px auto 0;
  }
  &-block {
    margin: 0 0 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-ttl {
    margin: 0 auto 25px;
    padding: 9px 0;
    background: $title_bk;
    color: $title_txt;
    line-height: 1.1;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.15em;
    position: relative;
  }
}
@media screen and (min-width:769px){
  .contents {
    &-wrap {
      margin: 80px auto 0;
    }
    &-block {
      margin: 0 0 100px;
    }
    &-ttl {
      margin: 0 auto 70px;
      font-size: 3rem;
    }
  }
}




/* =========================================================
タグ集約
========================================================= */
.taglist {
  overflow: hidden;
  &__item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    list-style: none;
    display: none;
    &:first-child {
    border-top: 1px solid #ccc;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(-n+6) { /* 初期表示6件 */
      display: block;
    }
    &__in {
      height: 100%;
    }
    a {
      display: block;
      position: relative;
      height: 100%;
      padding: 15px;
      color: #555;
      background: #fff;
      font-size: 1.4rem;
      line-height: 1.5;
      text-decoration: none;
      box-sizing: border-box;
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #555 transparent;
        position: absolute;
        right: 4px;
        bottom: 4px;
      }
    }
  }
  &__txt {
    margin-top: 15px;
  }
  &__photo {
    position: relative;
    padding: 0 40px;
  }
  &__kaeru {
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 10px;
    font-size: 1rem;
    color: #fff;
    line-height: 1.1;
    display: inline-block;
    background: #ea5550;
    padding: 7px 5px;
  }
  &__name {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 6px;
  }
}
@media screen and (min-width:769px) {
  .taglist {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: calc(33.33% - 10px);
      margin: 15px 15px 0 0;
      border: 1px solid #ccc;
      box-sizing: border-box;
      &:nth-child(-n+3) {
        margin-top: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &__photo {
      padding: 0;
    }
  }
}
.btn-taglist-more {
  display: none;
  width: calc(100% - 150px);
  max-width: 435px;
  margin: 30px auto 0;
  padding: 15px 0;
  background: $more_bk;
  border-radius: 10px;
  border: none;
  color: $more_txt;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: bold;
  @media screen and (min-width:769px) {
    margin: 40px auto 0;
    &:hover {
      opacity: 0.7;
    }
  }
}




/* =========================================================
OWNLY
========================================================= */
.ownly-wrap {
  padding: 0 10px;
  @media screen and (min-width:769px) {
    padding: 0;
  }
}



/* =========================================================
値書き
========================================================= */
/* 館ナビ */
.floornav {
  width: calc(100% - 40px);
  max-width: 620px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
  li {
    list-style: none;
    width: 50%;
    margin: 0;
    a {
      display: block;
      width: 100%;
      padding: 3px 0;
      display: inline-block;
      text-align: center;
      color: #000;
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
      text-decoration: none;
    }
  }
}
@media screen and (min-width:769px){
  .floornav {
    margin: 0 auto 50px;
    li {
      a {
        font-size: 2.0rem;
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }
}

/* current */
body.type1 .floornav .floornav__item01 a,
body.type2 .floornav .floornav__item02 a,
body.type3 .floornav .floornav__item03 a,
body.type4 .floornav .floornav__item04 a {
  background: #000;
  color: #FFF;
}
body.type1 .floornav .floornav__item01 a:after,
body.type2 .floornav .floornav__item02 a:after,
body.type3 .floornav .floornav__item03 a:after,
body.type4 .floornav .floornav__item04 a:after {
  border-color: #000 transparent transparent transparent;
}


/* 値書き*/
.salelist-container {
  margin: 50px 0 0;
}

.salelist-info1, .salelist-info2 {
  font-size: 1.5rem;
  padding: 0 10px;
  line-height: 1.6;
}

.salelists {
  margin: 20px auto 0;
  @media screen and (min-width:769px){
    margin: 60px auto 0;
  }
}
.salelist {
  padding: 0 0 10px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
    padding: 9px 20px;
    background: $floor_bk;
    color: $floor_txt;
    line-height: 1.1;
    .ico-arr {
      text-align: center;
      background: $floor_arrow01;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: $floor_arrow02 transparent transparent transparent;
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 3px);
        transition-duration: 200ms;
      }
    }
    &__floor {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2rem;
      letter-spacing: 0.15em;
    }
  }
  &__shop {
    font-size: 1.4rem;
    border-top: 1px solid #ccc;
    &:first-child {
      margin-top: 0;
      border-top: none;
    }
  }
  &__link {
    padding: 30px 15px;
    display: block;
    text-decoration: none;
    color: #000;
  }
  &__data {
    display: table;
    width: 100%;
    &__item01 {
      display: table-cell;
      width: 80px;
      padding-right: 15px;
      vertical-align: middle;
      img {
        border: 1px solid #ccc;
      }
    }
    &__item02 {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__shopname {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__text {
    margin-top: 5px;
  }
}
@media screen and (min-width:769px){
  .salelist {
    padding: 0 0 40px;
    &__title {
      &__floor {
        font-size: 3rem;
      }
    }
    &__cont {
      &__in{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
    &__shop {
      width: 50%;
      margin-top: 0;
      padding: 30px 20px;
      box-sizing: border-box;
      &:first-child {
      }
      &:nth-child(-n+2) {
        border: none;
      }
    }
    &__link {
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    &__data {
      &__item01 {
        width: 120px;
        padding-right: 25px;
        img {
          width: 100%;
          border: none;
        }
      }
      &__item02 {
      }
    }
    &__shopname {
      font-size: 1.3rem;
    }
    &__text {
      font-size: 1.5rem;
      margin-top: 10px;
      line-height: 1.6;
    }
  }
}
/* 開閉時の矢印*/
.salelist{
  &__title{
    &.is-open {
      .ico-arr {
        &:after {
          -webkit-transform:rotate(180deg);
                  transform:rotate(180deg)
        }
      }
    }
  }
}


/* =========================================================
フッター上バナー
========================================================= */
.footer-bnr {
  max-width: 1024px;
  margin: 30px auto 0;
  padding: 0 10px;
}
.ft-bnr {
  margin: 0 auto 10px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    display: block;
  }
}
@media screen and (min-width:769px) {
  .footer-bnr {
    margin: 60px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .ft-bnr {
    width: calc(50% - 10px);
    margin: 0 20px 0 0;
    &:last-child {
      margin-right: 0;
    }
    a {
      &:hover {
        opacity: .7;
      }
    }
  }
}




/* =========================================================
フッター上SNSボタン
========================================================= */
.footer__social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  .social__item {
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    @media screen and (min-width:769px){
      margin: 0 11px;
    }
    a:hover {
      opacity: 0.6;
    }
    img {
      height: 100%;
    }
  }
}

// coding
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.zen-kaku-gothic-antique-regular {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hidden {
    display: none;
}
.main {
    &.active {
        .padding-main {
            padding-top: 60px;
        }

        .fukuoka-parco {
            display: block;
        }

        .sns {
            display: block;
        }

        .other-text {
            display: flex;
        }
    }
}


.loading {
    position: relative;
    height: 100vh;
    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // background: url('../images/main-loading.png') no-repeat;
        background-size: 100%;
        transition: filter 0.5s ease;
        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        &.blur {
            transition: .3s all;
            filter:blur(10px);
        }
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 20px;
        bottom: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        z-index: 2;
        span {
            margin-left: 20px;
        }

        &.hidden {
            display: none;
        }
    }
}


.main-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    //opacity: 0;
    overflow: hidden;
    transition: .3s all;
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.next-sound-line {
    position: absolute;
    z-index: 999;
    bottom: 20px;
    left: 20px;

    &.hidden {
        opacity: 0;
    }

    .ui-sound-toggle {
        color: #fff;
    }
}

.select__sound {
    width: 412px;
    height: 412px;
    border-radius: 100%;
    border: 1px solid #fff;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
        content: "";
        border-radius: 100%;
        z-index: -1;
        backdrop-filter: blur(7px);
    }

    &.hidden {
        opacity: 0;
        z-index: -1;
        transition: 0.5s all;
    }

    .ui-sound-toggle {
        text-align: center;
        transform: translate(0px, -30px);
    }

    .ui-sound-toggle-static, .ui-sound-toggle-hover-wrap {
        display: none;
    }

    .ui-sound-toggle-rects rect {
        fill: #fff;
    }

    &-choice {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 900;
        font-family: "Montserrat", sans-serif;
        color: #fff;

        &-item {
            padding: 0 31px;
            cursor: pointer;

            &:first-child {
                border-right: 1px solid #fff;
            }
        }
    }

    &-text {
        text-align: center;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 1rem;
        transform: translate(0px, 116px);
    }

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: .3s all;
    z-index: 1;

    &.hidden{
        visibility: hidden;
        opacity: 0;
        transition: .3s all;
    }

    &-logo {
        &__link {
            padding-left: 15px;
            padding-top: 15px;
            display: block;
            img {
                max-width: 120px;
            }
        }
    }

    &-list {
        display: flex;
        align-items: center;
        padding-right: 9.66%;

        &__item {
            margin-right: 34px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            font-size: 1.3rem;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            color: #fff;
            text-decoration: none;
        }
    }
}

.fukuoka-parco {
    position: relative;
    z-index: 1;
    padding-top: 162px;
    display: none;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background: #141419;
        opacity: 0.32;
        width: 100%;
        height: 100%;
    }

    &__img {
        position: absolute;
        width: 100%;
        top: 279px;

        img {
            width: 100%;
        }
    }

    &__box {
        width: 555px;
        height: 597px;
        margin: auto;
        
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: url('../images/letter.svg') no-repeat;
            background-size: 100%; 
        }

        &:before {
            position: absolute;
            content: "";
            width: 502px;
            height: 525px;
            left: 0;
            top: 40px;
            background: #A997B5;
            backdrop-filter: blur(10px);
            opacity: 0.25;
            right: 0;
            margin: auto;
        }
    }

    &__text {
        font-size: 1.5rem;
        letter-spacing: 0.75px;
        line-height: 2.26;
        color: #fff;
        font-family: "Zen Kaku Gothic Antique", sans-serif;
        font-weight: bold;
        padding-left: 100px;
        padding-right: 100px;
    }

    &__inv {
        position: relative;
        z-index: 1;
        text-align: right;
        margin-right: 40px;
        padding-top: 117px;
        padding-bottom: 67px;
    }
}

.sns {
    position: relative;
    z-index: 1;

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;

        &__item {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.other-text {
    width: 100%;
    height: 367px;
    position: relative;
    z-index: 1;
    background: url('../images/other-text.png') no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        margin-top: -80px;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }

        &-item {
            font-family: "Zen Kaku Gothic Antique", sans-serif;
            font-size: 1.5rem;
            letter-spacing: 0.75px;

            &-left {
                margin-right: 28px;
            }
        }
    }
}

.footer {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 14px 30px;

    &.active {
        display: block;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__backtop {
        position: absolute;
        left: calc(50% - 117px);
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
    }
}

.copy-right {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #141419;
}

.scroll {
    img {
        max-width: 234px;
        margin: auto;
    }
}