* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none;
}
.container {
  max-width: 1126px;
  margin: 0 auto;
  @media (max-width: 1250px) {
    max-width: 100%;
    width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 38px;
  }
  img {
    max-width: 100%;
  }
}
.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

flex-center, .bg-avarta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avarta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.view-more {
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 28px;
    border: 1px solid #000000;
    text-decoration: none !important;
    line-height: 1;
    border-radius: 50%;
    color: #141419;
    font-weight: 900;
    font-size: 11px;
    font-family: Montserrat;
    @media (max-width: 767px) {
      font-size: 10px;
      padding: 20px 22px;
    }
    svg {
      margin-left: 6px;
    }
  }
}

.main-video {
  pointer-events: none;
}

.content-txt {
  line-height: 2.26;
  letter-spacing: 0.75px;
  font-family: "Zen Kaku Gothic Antique";

}

.box-studio {
  padding: 185px 0 200px 0;
  position: relative;
  background: url("../images/bg-studio.png") no-repeat center;
  background-size: cover;
  @media (max-width: 767px) {
    padding: 60px 0 100px 0;
  }
  .content-txt {
    max-width: 614px;
    margin: 0 auto;
    @media (max-width: 767px) {
      font-size: 14px;
      font-weight: 500;
      text-align: left;
    }
  }
}

.title-box {
  margin-bottom: 74px;
  line-height: 1.78;
  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 55px;
  }
  h3 {
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

.fashion-popup {
  margin-top: 124px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
}

.list-fashion {
  @media (max-width: 767px) {
    overflow: hidden;
  }
  .container {
    @media (max-width: 767px) {
      padding: 0 13px;
    }
  }
}

.item-fashion {
  margin-bottom: 200px;
  @media (max-width: 767px) {
    margin-bottom: 100px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .brand {
    .avr-brand {
      display: flex;
      align-items: center;
    }
    img {
      max-height: 114px;
      mix-blend-mode: overlay;
      @media (max-width: 991px) {
        max-height: 80px;
      }
    }
  }
}

.list-product {
  max-width: 966px;
  margin-left: auto;
  margin-top: -35px;
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (max-width: 1200px) {
    max-width: 100%;
    padding-left: 180px;
  }
  @media (max-width: 991px) {
    padding-left: 120px;
  }
  @media (max-width: 767px) {
    padding: 0;
    margin: 40px 0 0 0;
    position: relative;
    left: -13px;
    width: calc(100% + 26px);
    max-width: unset;
  }
  .avarta {
    @extend flex-center;
  }
  .view-more {
    position: relative;
    margin-top: -3%;
    z-index: 2;
    @media (max-width: 767px) {
      margin-top: 46px;
    }
  }
}

.slide-product {
  //margin: 0 -10px;
  .slick-list {
    padding-bottom: 3% !important;
    @media (max-width: 767px) {
      //padding-left: 0 !important;
      //padding-right: 0 !important;
    }
  }
  .item-slide {
    transition: .5s all !important;
    z-index: 3;
    position: relative;
    &.slick-center {
      margin-top: 27px;
      transform: rotate(10deg);
      z-index: 2;
      @media (max-width: 767px) {
        transform: rotate(0);
        margin-top: 0;
      }
    }
    &.slick-current {
      transform: rotate(-10deg);
      z-index: 2;
      @media (max-width: 767px) {
        transform: rotate(0);
      }
    }
  }
}

.content-item-fashion {
  position: relative;
  .left-txt {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 42px;
    z-index: 3;
    @media (max-width: 767px) {
      position: relative;
      margin-top: 10px;
      text-align: center;
    }
    h3 {
      font-size: 12px;
      font-weight: 900;
      font-family: Montserrat;
      margin-bottom: 17px;
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    .insta {
      margin-bottom: 57px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
      @media (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
      a {
        display: inline-flex;
        align-items: center;
      }
      img {
        width: auto;
        height: 50px;
      }
    }
  }
}

.date-place {
  .date {
    font-size: 18px;
    font-weight: 900;
    font-family: Montserrat;
    margin-bottom: 12px;
    line-height: normal;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 6px;
    }
    span {
      font-size: 12px;
      padding: 0 4px;
    }
  }
  .place {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    @media (max-width: 767px) {
      justify-content: center;
    }
    .icon {
      margin-right: 8px;
      @extend flex-center;
    }
  }
}

.box-cosme {
  padding: 195px 0;
  position: relative;
  background: url("../images/bg-cosme.png") no-repeat center;
  background-size: cover;
  @media (max-width: 767px) {
    padding: 154px 0 162px 0;
  }
  .title-box {
    margin-bottom: 95px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
}

.item-abs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beauty-minute {
  width: max-content;
  position: relative;
  margin-bottom: 122px;
  margin-left: auto;
  @media (max-width: 1250px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    margin-bottom: 90px;
  }
  .bg-avarta {
    position: relative;
    width: max-content;
    margin: 0 auto;
    @media (max-width: 1250px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .item-abs {
    @media (max-width: 767px) {
      display: none;
    }
  }
  .abs-1 {
    top: 14.5%;
    left: 0;
    max-width: 30.5%;
  }
  .abs-2 {
    top: 42.5%;
    left: 8.2%;
    max-width: 22.5%;
  }
  .abs-3 {
    top: 9%;
    left: 29.5%;
    max-width: 35%;
    z-index: 2;
  }
  .abs-4 {
    top: 9%;
    right: 13%;
    max-width: 24.2%;
  }
  .abs-5 {
    bottom: 27.5%;
    right: 3.8%;
    max-width: 31%;
  }
  .view-more {
    position: absolute;
    bottom: 12.5%;
    left: 55.5%;
    z-index: 3;
    @media (max-width: 991px) {
      transform: scale(0.7);
      left: 46%;
      bottom: 8%;
    }
    @media (max-width: 767px) {
      transform: scale(1);
      bottom: 14%;
      left: unset;
      right: -5%;
    }
    a {
      background: #fff;
    }
  }
  .date-place {
    position: absolute;
    bottom: 12%;
    right: 0;
    @media (max-width: 991px) {
      bottom: 8%;
    }
    @media (max-width: 767px) {
      position: relative;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.beauty-mb {
  position: relative;
  left: -38px;
  width: calc(100% + 76px);
  @media (max-width: 767px) {
    display: block;
  }
}

.choi-mison {
  position: relative;
  .item-abs {
    @media (max-width: 767px) {
      display: none;
    }
  }
  .abs-1 {
    top: 0;
    left: -1.5%;
    max-width: 42.5%;
    z-index: 2;
  }
  .abs-2 {
    top: 13%;
    left: 35.5%;
    max-width: 24.5%;
  }
  .abs-3 {
    top: -2%;
    left: 54%;
    max-width: 10%;
  }
  .abs-4 {
    bottom: 3%;
    left: 39%;
    max-width: 6.5%;
  }
  .txt-mison {
    @media (max-width: 767px) {
      left: -38px;
      width: calc(100% + 76px);
      max-width: unset;
      padding: 0 28px;
    }
    .desc {
      @media (max-width: 767px) {
        text-align: left;
        padding-bottom: 24px;
      }
    }
  }
  .bg-avarta {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.choice-mb {
  position: relative;
  left: -38px;
  width: calc(100% + 76px);
  padding: 0 28px;
  @media (max-width: 767px) {
    display: block;
  }
}

.txt-mison {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 34.5%;
  padding: 5% 0 0 0;
  box-sizing: border-box;
  @media (max-width: 991px) {
    max-width: 36.5%;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
  }
  h3 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Zen Kaku Gothic Antique";
    margin-bottom: 28px;
    @media (max-width: 991px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
    @media (max-width: 767px) {
      font-size: 23px;
      margin-bottom: 24px;
    }
  }
  .desc {
    padding: 30px 0;
    line-height: 2;
    @media (max-width: 991px) {
      padding: 20px 0;
    }
  }
  .bott {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        margin-right: 20px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    a {
      display: inline-flex;
      align-items: center;
    }
    .view-more {
      a {
        background: #fff;
      }
    }
  }
}

.box-dj {
  padding: 200px 0;
  background: url("../images/bg-dj.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 160px 0;
  }
  .title-box {
    margin-bottom: 35px;
    @media (max-width: 767px) {
      margin-bottom: 54px;
    }
  }
  .txt-mison {
    position: relative;
    max-width: 100%;
    top: unset;
    @media (max-width: 767px) {
      text-align: left;
    }
    h3, .date-place {
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
  .wrap-dj {
    max-width: 895px;
    margin: 0 auto;
  }
  .container {
    @media (max-width: 767px) {
      padding: 0 28px;
    }
  }
}

.content-dj {
  display: flex;
  align-items: center;
  margin: 0 -47px;
  @media (max-width: 767px) {
    margin: 0;
    display: block;
  }
  > div {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 47px;
    @media (max-width: 767px) {
      max-width: 100%;
      padding: 0;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.box-novelty {
  padding: 100px 0 135px 0;
  background: rgb(20 20 25 / 32%);
  position: relative;
  @media (max-width: 767px) {
    padding: 147px 0 160px 0;
  }
  .line {
    position: absolute;
    left: 0;
    top: 38%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      top: 31%;
    }
  }
  .container {
    @media (max-width: 767px) {
      padding: 0 12px;
    }
  }
}

.txt-novelty {
  position: relative;
  z-index: 2;
  color: #fff;
  .avarta {
    position: relative;
    z-index: 2;
    margin-bottom: -185px;
    @media (max-width: 767px) {
      padding: 0 57px;
      margin-bottom: -130px;
    }
    img {
      max-width: 382px;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
  .desc-novelty {
    max-width: 502px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background: rgb(255 255 255 / 50%);
    padding: 217px 50px 80px 50px;
    @media (max-width: 767px) {
      max-width: 100%;
      padding: 176px 50px 38px 50px;
    }
    h3 {
      font-size: 26px;
      font-family: "Zen Kaku Gothic Antique";
      font-weight: bold;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 23px;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .desc {
      padding: 20px 0 60px 0;
      @media (max-width: 767px) {
        padding: 30px 0;
        line-height: 2.26;
      }
    }
    .date-place {
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

.box-video {
  position: relative;
  padding: 200px 0;
  background: url("../images/bg-video.jpg") no-repeat center;
  background-size: cover;
  @media (max-width: 767px) {
    padding: 72px 0 95px 0;
  }
  .icon-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: rgb(20 20 25 / 70%);
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    img {
      @media (max-width: 767px) {
        width: auto;
        height: 100px;
      }
    }
  }
  .container {
    @media (max-width: 767px) {
      padding: 0 13px;
    }
  }
}

.content-video {
  position: relative;
  max-width: 800px;
  margin: 0 auto 200px auto;
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
  .icon-video {
    position: absolute;
    top: -34%;
    left: -26%;
    max-width: 37.5%;
    @media (max-width: 1200px) {
      left: 0;
      top: -42%;
      max-width: 25%;
    }
    @media (max-width: 767px) {
      position: relative;
      top: unset;
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
      img {
        width: auto;
        max-height: 150px;
      }
    }
  }
}

.content-profile {
  max-width: 638px;
  margin: 0 auto;
  .logo-profile {
    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }
  .desc-profile {
    padding: 48px 0 0 48px;
    line-height: 2.2;
    font-weight: 500;
    @media (max-width: 767px) {
      padding: 30px 15px 0 15px;
    }
    a {
      text-decoration: none !important;
      font-weight: 800;
      font-family: Montserrat;
      font-size: 12px;
      color: #141419;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    .desc {
      margin-bottom: 25px;
    }
    ul {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        justify-content: center;
      }
      li {
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.padding-main {
  padding-top: 100vh;
}

.head-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  @media (max-width: 767px) {
    display: none;
  }
  img {
    max-width: 100%;
  }
}

.head-main-mb {
  @media (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
  }
}