@charset "UTF-8";
/* =========================================================
colors
========================================================= */
@import "_colors";

/* =========================================================
body
========================================================= */
html {
  font-size: 62.5%;
}
body {
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  height: 100vh;
  color: #141419;
  &.active {
    overflow: unset;
    height: auto;
  }
  &.open_modal {
    overflow: hidden;
  }
}

.menu-fixed {
  a {
    font-family: span;
  }
}

.title h2 span, .viewmore, .pft p {
  font-family: span;
}
.main-contents {
  // font-family: 'heisei-kaku-gothic-std', sans-serif; 
  font-weight: 500;
}
@media print {
  html, body {
    _zoom: 70%!important;
  }
}

main {
  display: block; /*IE*/
  opacity: 0;
  pointer-events: none;
  transition: .3s all !important;
  width: 100%;
  height: 0;
  overflow: hidden;
  &.active {
    opacity: 1;
    pointer-events: unset;
    height: auto;
    .mask-video {
      opacity: 1;
      transform: scale(3);

      @media (max-width: 768px) {
        // transform: scale(1.9);
      }
    }
  }
}


/* =========================================================
default
========================================================= */
@import "_default";

/* =========================================================
layout
========================================================= */
@import "_layout";

/* =========================================================
main
========================================================= */
@import "_main";