@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.header {
  position: relative;
  z-index: 12;
}

.header-menu {
  padding: 55px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 768px) {
  .header-menu {
    padding: 14px 0 0 0;
  }
}
.header-menu .btn-bar {
  text-align: right;
}
@media (max-width: 768px) {
  .header-menu .btn-bar svg {
    width: 40px;
    height: 27px;
  }
}

.content-menu {
  background: url(../images/banner/bg-creator.svg) no-repeat center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.4s all !important;
  pointer-events: none;
}
.content-menu.active {
  opacity: 1;
  pointer-events: unset;
}
.content-menu ul {
  list-style: none;
  position: relative;
}
@media (max-width: 768px) {
  .content-menu ul {
    position: unset;
  }
}
.content-menu ul li {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .content-menu ul li {
    margin-bottom: 63px;
  }
}
.content-menu ul li:last-child {
  margin-bottom: 0;
}
.content-menu ul li:first-child {
  margin-bottom: 0;
}
.content-menu a {
  text-decoration: none;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 768px) {
  .content-menu a {
    font-size: 30px;
  }
}
.content-menu .close-menu {
  position: absolute;
  top: -90px;
  right: -125px;
}
@media (max-width: 768px) {
  .content-menu .close-menu {
    top: 14px;
    right: 20px;
  }
  .content-menu .close-menu svg {
    width: 32px;
    height: auto;
  }
}

.scroll-anime {
  position: relative;
  transition: 0.5s all !important;
  opacity: 0;
  top: 80px;
}
.scroll-anime.animated {
  top: 0;
  opacity: 1;
}

.box-cover {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all !important;
  overflow: hidden;
}
.box-cover.hide_cover {
  opacity: 0;
  pointer-events: none;
}
.box-cover .avr-cover {
  transition: 0.6s all !important;
  position: relative;
  top: 200px;
  opacity: 0;
}
.box-cover .avr-cover.hide_cover {
  opacity: 1;
  top: 0;
}
.box-cover .avr-cover img {
  max-width: 800px;
}

.modal-creator {
  position: fixed;
  background: url(../images/banner/bg-creator.svg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1003;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all !important;
  padding: 48px;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .modal-creator {
    padding: 20px 20px 40px 20px;
    display: block;
    overflow: auto;
  }
}
.modal-creator.show-modal {
  opacity: 1;
  pointer-events: unset;
}
.modal-creator .modal {
  max-width: 1106px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.modal-creator .close-modal {
  text-align: right;
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .modal-creator .close-modal svg {
    width: 32px;
    height: auto;
  }
}

.content-modal {
  background: #fff;
  padding: 50px 60px;
}
@media (max-width: 1023px) {
  .content-modal {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .content-modal {
    padding: 30px 30px 40px 30px;
  }
}
.content-modal .row {
  margin: 0 -40px;
}
@media (max-width: 1023px) {
  .content-modal .row {
    margin: 0 -20px;
  }
}
.content-modal .row > div {
  padding: 0 40px;
}
.content-modal .row > div:first-child {
  padding-right: 22px;
}
@media (max-width: 1023px) {
  .content-modal .row > div {
    padding: 0 20px !important;
  }
}
@media (max-width: 768px) {
  .content-modal .row > div {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
}
.content-modal .map {
  position: relative;
}
.content-modal .map:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.33;
  position: absolute;
}
.content-modal .map img {
  width: auto;
}
.content-modal .map a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
@media (max-width: 1023px) {
  .content-modal .map a {
    font-size: 22px;
  }
}

.info-profile {
  padding-left: 22px;
}
@media (max-width: 1023px) {
  .info-profile {
    padding: 0;
  }
}

.top-profile {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .top-profile {
    margin: 30px 0 40px 0;
  }
}
.top-profile .avarta-user {
  flex: 0 0 135px;
  margin-right: 32px;
}
@media (max-width: 1023px) {
  .top-profile .avarta-user {
    flex: 0 0 91px;
    margin-right: 22px;
  }
}
.top-profile .info-user .name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 38px;
}
@media (max-width: 1023px) {
  .top-profile .info-user .name {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.top-profile .link-profile a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
@media (max-width: 1023px) {
  .top-profile .link-profile a {
    font-size: 12px;
  }
}
.top-profile .link-profile a span {
  letter-spacing: 1.2px;
  margin-right: 14px;
}
.top-profile .link-profile .icon-svg-bott {
  position: absolute;
  bottom: -10px;
  left: 0;
  margin: 0;
}
.top-profile .link-profile .icon {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1px;
}
@media (max-width: 1023px) {
  .top-profile .link-profile .icon svg {
    width: 11px;
    height: auto;
  }
}

.container {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .container {
    max-width: 100%;
    padding-left: 73px;
    padding-right: 73px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  position: relative;
  width: max-content;
}
.title h2 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .title h2 {
    font-size: 42px;
  }
}
.title h2 span {
  position: relative;
  padding-right: 30px;
}
.title h2 span:before {
  content: "";
  width: 100%;
  background-image: linear-gradient(to right, #84BBF0, #F9B3D6);
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .title h2 span:before {
    height: 30px;
  }
}
.title .icon {
  position: absolute;
  bottom: -71px;
  right: -134px;
}
@media (max-width: 768px) {
  .title .icon {
    right: -60px;
    bottom: -40px;
  }
}
.title .icon img {
  height: 143px;
  width: auto;
}
@media (max-width: 768px) {
  .title .icon img {
    width: 160px;
    height: auto;
  }
}

body {
  font-family: “heisei-kaku-gothic-std”, sans-serif;
  font-weight: 500;
}
body.show-modal {
  overflow: hidden;
}

main {
  margin-top: 78px;
  font-size: 15px;
}
@media (max-width: 768px) {
  main {
    margin-top: 60px;
    font-size: 14px;
  }
}
main .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
main .row > div {
  padding: 0 15px;
}
main .row .col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
main .row .col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
main .row .col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.box-caption-banner {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .box-caption-banner {
    margin-bottom: 60px;
  }
}
.box-caption-banner .head-caption {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
  background-image: linear-gradient(to right, #84BBF0, #F9B3D6);
  padding: 5px;
  letter-spacing: 0.4px;
}
@media (max-width: 768px) {
  .box-caption-banner .head-caption {
    padding: 12px 20px;
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .box-caption-banner .desc {
    line-height: 2.5;
    padding: 0 20px;
  }
}
.box-caption-banner .desc p {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .box-caption-banner .desc p {
    margin-bottom: 0;
  }
}
.box-caption-banner .desc p:last-child {
  margin: 0;
}
.box-caption-banner .container {
  padding-top: 125px;
  padding-bottom: 125px;
}
@media (max-width: 768px) {
  .box-caption-banner .container {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

.icon-abs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-abs img {
  width: 69px;
  height: 63px;
}
@media (max-width: 1200px) {
  .icon-abs img {
    width: 50px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .icon-abs img {
    width: 34px;
  }
}
.icon-abs.abs1 {
  top: 0;
  left: 0;
}
@media (max-width: 1366px) {
  .icon-abs.abs1 {
    left: 73px;
  }
}
@media (max-width: 1200px) {
  .icon-abs.abs1 {
    left: 40px;
  }
}
@media (max-width: 768px) {
  .icon-abs.abs1 {
    left: 11px;
  }
}
.icon-abs.abs2 {
  top: 0;
  right: 0;
}
@media (max-width: 1366px) {
  .icon-abs.abs2 {
    right: 73px;
  }
}
@media (max-width: 1200px) {
  .icon-abs.abs2 {
    right: 40px;
  }
}
@media (max-width: 768px) {
  .icon-abs.abs2 {
    right: 11px;
  }
}
.icon-abs.abs3 {
  left: 0;
  bottom: 0;
}
@media (max-width: 1366px) {
  .icon-abs.abs3 {
    left: 73px;
  }
}
@media (max-width: 1200px) {
  .icon-abs.abs3 {
    left: 40px;
  }
}
@media (max-width: 768px) {
  .icon-abs.abs3 {
    left: 11px;
  }
}
.icon-abs.abs4 {
  right: 0;
  bottom: 0;
}
@media (max-width: 1366px) {
  .icon-abs.abs4 {
    right: 73px;
  }
}
@media (max-width: 1200px) {
  .icon-abs.abs4 {
    right: 40px;
  }
}
@media (max-width: 768px) {
  .icon-abs.abs4 {
    right: 11px;
  }
}

.content-caption {
  max-width: 780px;
  margin: 0 auto;
}

.list-creator {
  position: relative;
  padding-top: 240px;
}
@media (max-width: 768px) {
  .list-creator {
    padding-top: 134px;
  }
}
.list-creator .row {
  margin: 0 -25px;
}
@media (max-width: 768px) {
  .list-creator .row {
    margin: 0 -10px;
  }
}
.list-creator .col-md-3 {
  padding: 0 25px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .list-creator .col-md-3 {
    padding: 0 10px;
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333% !important;
    margin-bottom: 26px;
  }
}
.list-creator .col-md-3:nth-child(4n+4) {
  margin-top: -240px;
}
@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+4) {
    margin-top: 0;
  }
}
.list-creator .col-md-3:nth-child(4n+3) {
  margin-top: -160px;
}
@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+3) {
    margin-top: 0;
  }
}
.list-creator .col-md-3:nth-child(4n+2) {
  margin-top: -80px;
}
@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+2) {
    margin-top: 0;
  }
}
.list-creator .col-md-3:first-child {
  margin-top: 0;
}
@media (max-width: 768px) {
  .list-creator .col-md-3:first-child {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(3n+3) {
    margin-top: -124px;
  }
}
@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(3n+2) {
    margin-top: -62px;
  }
}

.item-creator {
  position: relative;
}
.item-creator .avarta {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .item-creator .avarta {
    margin-bottom: 13px;
  }
}
.item-creator .avarta span {
  position: absolute;
  width: 178px;
  height: 82px;
  left: calc(50% - 89px);
  top: calc(50% - 41px);
  background: #fff;
  border: 1px solid #000000;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: normal;
  transition: 0.3s all !important;
  opacity: 0;
}
@media (max-width: 1023px) {
  .item-creator .avarta span {
    display: none;
  }
}
.item-creator:hover .avarta span {
  opacity: 1;
}
.item-creator .info {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .item-creator .info {
    font-size: 12px;
    line-height: 19px;
  }
}
.item-creator a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

.box-creators {
  position: relative;
  background: url("../images/banner/bg-creator.svg") no-repeat center;
  background-size: cover;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .box-creators {
    padding-bottom: 48px;
  }
}
.box-creators:after {
  content: "";
  width: 100%;
  height: 222px;
  background: #fff;
  position: absolute;
  top: -1px;
  left: 0;
}
@media (max-width: 768px) {
  .box-creators:after {
    height: 111px;
  }
}
.box-creators .container {
  z-index: 2;
}
.box-creators .view-more {
  text-align: right;
}
@media (max-width: 768px) {
  .box-creators .view-more {
    text-align: center;
    padding-top: 29px;
  }
}
.box-creators .view-more a {
  text-decoration: none;
  font-size: 27px;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  color: #000000;
  position: relative;
  margin-top: -105px;
}
@media (max-width: 768px) {
  .box-creators .view-more a {
    font-size: 21px;
    margin: 0;
  }
  .box-creators .view-more a svg {
    width: 75px;
    height: auto;
  }
}
.box-creators .view-more .icon {
  position: relative;
  margin-right: -8px;
}
.box-creators .title {
  margin-bottom: -60px;
}
@media (max-width: 768px) {
  .box-creators .title {
    margin-bottom: 40px;
  }
}

.box-calender {
  padding: 90px 0 100px 0;
}
@media (max-width: 768px) {
  .box-calender {
    padding: 60px 0;
  }
}
.box-calender .title {
  margin: 0 auto;
}
.box-calender .title h2 span {
  padding: 0 30px;
}
.box-calender .container {
  padding-top: 60px;
  padding-bottom: 84px;
}
@media (max-width: 768px) {
  .box-calender .container {
    padding-bottom: 76px;
    padding-top: 30px;
  }
}

.list-calender {
  margin: 50px 0 73px 0;
}
@media (max-width: 768px) {
  .list-calender {
    margin: 35px 0 55px 0;
  }
}
.list-calender .row {
  margin: 0 -50px;
}
@media (max-width: 768px) {
  .list-calender .row {
    margin: 0 -10px;
  }
}
.list-calender .row > div {
  padding: 0 50px;
}
@media (max-width: 768px) {
  .list-calender .row > div {
    padding: 0 10px;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 768px) {
  .list-calender .month11 {
    display: none;
  }
}

.item-calender {
  position: relative;
}
.item-calender .action-cal {
  position: absolute;
  width: 40px;
  right: 0;
  top: 3.1%;
  display: none;
}
@media (max-width: 768px) {
  .item-calender .action-cal {
    display: block;
  }
}
@media (max-width: 575px) {
  .item-calender .action-cal {
    top: -16px;
  }
}

.list-event {
  max-width: 930px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  position: relative;
}
@media (max-width: 575px) {
  .list-event {
    padding-right: 20px;
  }
}
.list-event .row {
  margin: 0 -31px;
}
@media (max-width: 768px) {
  .list-event .row {
    margin: 0 -10px;
  }
}
.list-event .col-md-6 {
  padding: 0 31px;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .list-event .col-md-6 {
    padding: 0 10px;
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .list-event .col-md-6 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    margin-top: 30px;
  }
}
.list-event .col-md-6:first-child {
  margin-top: 0;
}
.list-event .col-md-6:nth-child(2) {
  margin-top: 0;
}

.item-event {
  position: relative;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .item-event {
    padding-left: 20px;
  }
}
.item-event .avarta {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .item-event .avarta {
    margin-bottom: 12px;
  }
}
.item-event .top {
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .item-event .top {
    font-size: 14px;
    margin-bottom: 7px;
  }
}
.item-event h3 {
  font-size: 17px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .item-event h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.item-event .title-top {
  font-size: 28px;
  position: relative;
  transform: rotate(-7deg);
  z-index: 2;
  margin-bottom: -25px;
}
@media (max-width: 768px) {
  .item-event .title-top {
    font-size: 24px;
    transform: rotate(-4deg);
  }
}
@media (max-width: 575px) {
  .item-event .title-top {
    font-size: 17px;
  }
}
.item-event .desc {
  line-height: 2;
  font-weight: 500;
}
@media (max-width: 768px) {
  .item-event .desc {
    font-size: 12px;
  }
}

.item-top-head {
  display: flex;
  align-items: center;
  width: calc(100% + 24px);
  position: absolute;
  left: -24px;
  height: auto;
  z-index: 2;
  top: 0;
  height: 100%;
}
.item-top-head .icon {
  flex: 0 0 74px;
  margin-right: 23px;
}
@media (max-width: 575px) {
  .item-top-head .icon {
    flex: 0 0 44px;
    margin-right: 20px;
  }
}

.box-special {
  padding: 100px 0;
  background: url(../images/banner/bg-special.jpg) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  .box-special {
    padding: 60px 0;
  }
}
.box-special .title {
  margin: 0 auto;
  color: #fff;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .box-special .title {
    margin-bottom: 44px;
  }
}
.box-special .container {
  padding-top: 52px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .box-special .container {
    padding-top: 47px;
    padding-bottom: 94px;
  }
}
.box-special .icon-abs img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.list-special {
  max-width: 914px;
  margin: 0 auto;
}

.item-special {
  margin-bottom: 113px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: flex-end;
  padding-bottom: 37px;
}
@media (max-width: 768px) {
  .item-special {
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .item-special {
    display: block;
    padding: 0 20px;
  }
}
.item-special:last-child {
  margin-bottom: 0;
}
.item-special .avarta {
  flex: 0 0 400px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .item-special .avarta {
    flex: 0 0 300px;
  }
}
.item-special .avarta:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #303232;
  position: absolute;
  left: 10px;
  top: 10px;
}
.item-special .avarta a {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.item-special .info {
  background: #fff;
  padding: 50px 50px 30px 50px;
  border-radius: 0 10px 10px 0;
  margin-bottom: -37px;
  position: relative;
}
@media (max-width: 768px) {
  .item-special .info {
    padding: 80px 20px 45px 20px;
    position: relative;
    margin: -40px 0 0 0;
    border-radius: 10px;
    width: calc(100% + 40px);
    left: -20px;
  }
}
.item-special .info:after {
  content: "";
  width: 42px;
  background: #fff;
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: absolute;
  bottom: 0;
  left: -42px;
}
@media (max-width: 575px) {
  .item-special .info:after {
    display: none;
  }
}
.item-special .info ul {
  padding: 27px 0;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .item-special .info ul {
    padding: 18px 0;
  }
}
.item-special .info ul li {
  display: flex;
  margin-bottom: 14px;
}
.item-special .info ul li:last-child {
  margin-bottom: 0;
}
.item-special .info ul li span:first-child {
  flex: 0 0 90px;
}
.item-special .info .desc {
  line-height: 2;
}
.item-special .info h3 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: bold;
}
@media (max-width: 768px) {
  .item-special .info h3 {
    font-size: 22px;
  }
}

.box-goods {
  padding: 62.5px 0;
}
@media (max-width: 768px) {
  .box-goods {
    padding: 60px 0;
  }
}
.box-goods .title {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-goods .title h2 span {
  padding: 0 10px;
}
.box-goods .title .icon-title {
  padding: 0 70px;
  position: relative;
  top: 25px;
}
@media (max-width: 768px) {
  .box-goods .title .icon-title {
    padding: 0 12px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .box-goods .title .icon-title img {
    width: 64px;
    height: auto;
  }
}
.box-goods .container {
  padding-top: 44px;
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  .box-goods .container {
    padding-top: 30px;
    padding-bottom: 76px;
  }
}

.content-goods {
  max-width: 1140px;
  margin: 70px auto 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  .content-goods {
    margin-top: 55px;
    padding: 0 20px;
  }
}
.content-goods .row {
  margin: 0 -30px;
}
@media (max-width: 768px) {
  .content-goods .row {
    margin: 0 -10px;
  }
}
.content-goods .row > div {
  padding: 0 30px;
}
@media (max-width: 768px) {
  .content-goods .row > div {
    padding: 0 10px;
  }
}
@media (max-width: 575px) {
  .content-goods .row > div {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
    padding-right: 0;
  }
  .content-goods .row > div:last-child {
    margin-bottom: 0;
  }
}
.content-goods .circle {
  position: absolute;
  z-index: 3;
  top: -44px;
  left: -44px;
}
@media (max-width: 768px) {
  .content-goods .circle {
    left: -10px;
  }
}
.content-goods .circle img {
  width: 88px;
  height: 88px;
}

.item-good {
  position: relative;
}
.item-good .avarta {
  position: relative;
  padding-right: 10px;
  margin-bottom: 10px;
}
.item-good .avarta:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #303232;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 0;
}
.item-good .avarta img {
  border-radius: 10px;
}
.item-good .avarta a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.item-good .info {
  padding-top: 27px;
}
.item-good .info h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 16px;
}
.item-good .info .price {
  font-size: 15px;
  font-weight: bold;
}

.view-shop {
  margin-top: 32px;
}
@media (max-width: 768px) {
  .view-shop {
    margin-top: 29px;
  }
}
.view-shop a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 768px) {
  .view-shop a {
    font-size: 12px;
  }
}
.view-shop a:hover {
  opacity: 0.8;
}
.view-shop a span {
  display: block;
  margin-bottom: -4px;
  letter-spacing: 1.2px;
}
@media (max-width: 768px) {
  .view-shop a svg {
    width: 125px;
  }
}

.box-quesstion {
  position: relative;
  background: #FFDC03;
  padding: 65px 0;
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 768px) {
  .box-quesstion {
    padding: 60px 0;
    font-size: 12px;
  }
}
.box-quesstion h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: initial;
}
.box-quesstion p {
  margin-bottom: 40px;
}
.box-quesstion p:last-child {
  margin-bottom: 0;
}
.box-quesstion .title {
  margin: 0 auto;
}
.box-quesstion .title h2 {
  line-height: initial;
}
.box-quesstion .container {
  padding-top: 44px;
  padding-bottom: 84px;
}
@media (max-width: 768px) {
  .box-quesstion .container {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}

.content-quesstion {
  max-width: 914px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
@media (max-width: 768px) {
  .content-quesstion {
    padding: 28px 0 0 0;
  }
}

.plus-abs {
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
}
.plus-abs .icon {
  margin-bottom: 48px;
  animation: rotate_plus 5s linear infinite;
}
.plus-abs .icon:last-child {
  margin-bottom: 0;
}
.plus-abs.plus-left {
  left: -75px;
}
@media (max-width: 1200px) {
  .plus-abs.plus-left {
    left: -40px;
  }
}
@media (max-width: 768px) {
  .plus-abs.plus-left {
    left: -20px;
  }
}
.plus-abs.plus-right {
  right: -75px;
}
@media (max-width: 1200px) {
  .plus-abs.plus-right {
    right: -40px;
  }
}
@media (max-width: 768px) {
  .plus-abs.plus-right {
    right: -20px;
  }
}

@keyframes rotate_plus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
