@charset "UTF-8";
/* =========================================================
colors
========================================================= */
/* =========================================================
body
========================================================= */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");
html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  line-height: 1.3rem;
}

body {
  color: #000;
  font-family: 'heisei-kaku-gothic-std', sans-serif;
  font-size: 1rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
}

.main-contents {
  font-family: 'heisei-kaku-gothic-std', sans-serif;
  font-weight: 500;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}

main {
  display: block;
  /*IE*/
}

/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  z-index: 22;
}

.phd__in {
  height: 55px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}

.phd__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.phd__sns li {
  margin-right: 8px;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}

.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}

.phd__sns li .phd__sns__item__link-tiktok {
  background: #000000;
}

.phd__sns li .phd__sns__item__link-tiktok svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-tiktok svg {
    height: 17px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft {
  margin-top: 52px;
  padding: 45px 0 58px;
  background: #222;
  position: relative;
}

@media screen and (min-width: 769px) {
  .pft {
    margin-top: 70px;
    padding: 50px 0 40px;
  }
}

.pft__in {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .pft__in {
    max-width: 930px;
  }
}

.pft__logo {
  text-align: center;
}

.pft__logo svg {
  fill: #fff;
}

.pft__logo a {
  text-decoration: none;
}

.pft__logo__txt {
  width: 14px;
  height: 32px;
  margin-right: 4px;
}

.pft__logo__img {
  width: 120px;
  height: 36px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.pft__logo__img.parcoya-ueno {
  width: 205px;
  height: 34px;
}

.pft__logo.nagoya .pft__logo__txt {
  margin-right: 5px;
}

.pft__pageTop {
  right: 5px;
  bottom: 30px;
  position: fixed;
  z-index: 5;
}

@media screen and (min-width: 769px) {
  .pft__pageTop {
    display: none;
    top: auto;
    left: auto;
    margin: 0;
    right: 30px;
  }
}

.pft__pageTop a {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("/page/r11r/assets/images/banner/pagetop.svg") no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 769px) {
  .pft__pageTop a {
    width: 54px;
    height: 54px;
  }
}

.pft__pageTop a:hover {
  opacity: 0.7;
}

.pft__copyright {
  margin-top: 30px;
  text-align: center;
  line-height: 0;
}

.pft__copyright svg {
  height: 11px;
  fill: #fff;
  overflow: hidden;
}

/* =========================================================
layout
========================================================= */
/* =========================================================
colors
========================================================= */
/* =========================================================
header
========================================================= */
.header__title {
  text-align: center;
}

.header__title img {
  vertical-align: bottom;
}

@media screen and (min-width: 769px) {
  .header__title img {
    width: auto;
    max-width: 100%;
  }
}

/* =========================================================
Main
========================================================= */
/* =========================================================
ヘッダー下バナー
========================================================= */
.top-bnr-block {
  max-width: 596px;
  margin: 0 auto;
  padding: 20px 0 0;
}

.top-bnr-block .bnr {
  margin: 0 auto 5px;
}

.top-bnr-block .bnr:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .top-bnr-block {
    max-width: 930px;
    padding: 60px 0 0;
  }
  .top-bnr-block .bnr {
    margin: 0 auto 20px;
  }
}

/* =========================================================
YouTube
========================================================= */
.youtube-block {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0 0;
}

.youtube-wrap {
  padding-top: 56.25%;
  position: relative;
}

.youtube-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 769px) {
  .youtube-block {
    padding: 60px 0 0;
  }
}

/* =========================================================
Local navigation
========================================================= */
.localnav-wrap {
  max-width: 1024px;
  padding: 30px 0 0;
  margin: 0 auto;
}

.localnav {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.localnav__item {
  width: calc(50% - 5px);
  position: relative;
  margin: 0 10px 0 0;
}

.localnav__item:last-child {
  margin-right: 0;
}

.localnav__item a {
  display: block;
  padding: 7px 0;
  text-align: center;
  background: #f2ec27;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
}

.localnav__item a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 769px) {
  .localnav-wrap {
    padding: 60px 0 0;
  }
  .localnav {
    padding: 0;
  }
  .localnav__item {
    width: calc(50% - 20px);
    margin: 0 40px 0 0;
  }
  .localnav__item a {
    padding: 23px 0;
    font-size: 2.1em;
    border-radius: 8px;
  }
  .localnav__item a:after {
    border-width: 8px 6px 0 6px;
  }
  .localnav__item a:hover {
    opacity: 0.7;
    text-decoration: none;
    background: #f2ec27;
    color: #000;
  }
}

/* current */
body.page-sale .localnav__item01 a,
body.page-tag .localnav__item02 a {
  background: #f2ec27;
  color: #000;
}

body.page-sale .localnav__item01 a:after,
body.page-tag .localnav__item02 a:after {
  border-color: #f2ec27 transparent transparent transparent;
}

/* =========================================================
Contents block
========================================================= */
.contents-wrap {
  max-width: 1024px;
  margin: 40px auto 0;
}

.contents-block {
  margin: 0 0 40px;
}

.contents-block:last-child {
  margin-bottom: 0;
}

.contents-ttl {
  margin: 0 auto 25px;
  padding: 9px 0;
  background: #000;
  color: #fff;
  line-height: 1.1;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.15em;
  position: relative;
}

@media screen and (min-width: 769px) {
  .contents-wrap {
    margin: 80px auto 0;
  }
  .contents-block {
    margin: 0 0 100px;
  }
  .contents-ttl {
    margin: 0 auto 70px;
    font-size: 3rem;
  }
}

/* =========================================================
タグ集約
========================================================= */
.taglist {
  overflow: hidden;
}

.taglist__item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  list-style: none;
  display: none;
}

.taglist__item:first-child {
  border-top: 1px solid #ccc;
}

.taglist__item:last-child {
  margin-bottom: 0;
}

.taglist__item:nth-child(-n+6) {
  /* 初期表示6件 */
  display: block;
}

.taglist__item__in {
  height: 100%;
}

.taglist__item a {
  display: block;
  position: relative;
  height: 100%;
  padding: 15px;
  color: #555;
  background: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.taglist__item a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #555 transparent;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.taglist__txt {
  margin-top: 15px;
}

.taglist__photo {
  position: relative;
  padding: 0 40px;
}

.taglist__kaeru {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 10px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.1;
  display: inline-block;
  background: #ea5550;
  padding: 7px 5px;
}

.taglist__name {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.taglist__title {
  font-weight: bold;
  margin-bottom: 6px;
}

@media screen and (min-width: 769px) {
  .taglist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .taglist__item {
    width: calc(33.33% - 10px);
    margin: 15px 15px 0 0;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .taglist__item:nth-child(-n+3) {
    margin-top: 0;
  }
  .taglist__item:nth-child(3n) {
    margin-right: 0;
  }
  .taglist__photo {
    padding: 0;
  }
}

.btn-taglist-more {
  display: none;
  width: calc(100% - 150px);
  max-width: 435px;
  margin: 30px auto 0;
  padding: 15px 0;
  background: #000;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .btn-taglist-more {
    margin: 40px auto 0;
  }
  .btn-taglist-more:hover {
    opacity: 0.7;
  }
}

/* =========================================================
OWNLY
========================================================= */
.ownly-wrap {
  padding: 0 10px;
}

@media screen and (min-width: 769px) {
  .ownly-wrap {
    padding: 0;
  }
}

/* =========================================================
値書き
========================================================= */
/* 館ナビ */
.floornav {
  width: calc(100% - 40px);
  max-width: 620px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
}

.floornav li {
  list-style: none;
  width: 50%;
  margin: 0;
}

.floornav li a {
  display: block;
  width: 100%;
  padding: 3px 0;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .floornav {
    margin: 0 auto 50px;
  }
  .floornav li a {
    font-size: 2.0rem;
    text-decoration: none;
    color: #000;
  }
  .floornav li a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

/* current */
body.type1 .floornav .floornav__item01 a,
body.type2 .floornav .floornav__item02 a,
body.type3 .floornav .floornav__item03 a,
body.type4 .floornav .floornav__item04 a {
  background: #000;
  color: #FFF;
}

body.type1 .floornav .floornav__item01 a:after,
body.type2 .floornav .floornav__item02 a:after,
body.type3 .floornav .floornav__item03 a:after,
body.type4 .floornav .floornav__item04 a:after {
  border-color: #000 transparent transparent transparent;
}

/* 値書き*/
.salelist-container {
  margin: 50px 0 0;
}

.salelist-info1, .salelist-info2 {
  font-size: 1.5rem;
  padding: 0 10px;
  line-height: 1.6;
}

.salelists {
  margin: 20px auto 0;
}

@media screen and (min-width: 769px) {
  .salelists {
    margin: 60px auto 0;
  }
}

.salelist {
  padding: 0 0 10px;
}

.salelist__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 9px 20px;
  background: #000;
  color: #fff;
  line-height: 1.1;
}

.salelist__title .ico-arr {
  text-align: center;
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
  position: relative;
}

.salelist__title .ico-arr:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 3px);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.salelist__title__floor {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.15em;
}

.salelist__shop {
  font-size: 1.4rem;
  border-top: 1px solid #ccc;
}

.salelist__shop:first-child {
  margin-top: 0;
  border-top: none;
}

.salelist__link {
  padding: 30px 15px;
  display: block;
  text-decoration: none;
  color: #000;
}

.salelist__data {
  display: table;
  width: 100%;
}

.salelist__data__item01 {
  display: table-cell;
  width: 80px;
  padding-right: 15px;
  vertical-align: middle;
}

.salelist__data__item01 img {
  border: 1px solid #ccc;
}

.salelist__data__item02 {
  display: table-cell;
  vertical-align: middle;
}

.salelist__shopname {
  font-size: 1.2rem;
  font-weight: bold;
}

.salelist__text {
  margin-top: 5px;
}

@media screen and (min-width: 769px) {
  .salelist {
    padding: 0 0 40px;
  }
  .salelist__title__floor {
    font-size: 3rem;
  }
  .salelist__cont__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .salelist__shop {
    width: 50%;
    margin-top: 0;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .salelist__shop:nth-child(-n+2) {
    border: none;
  }
  .salelist__link:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .salelist__data__item01 {
    width: 120px;
    padding-right: 25px;
  }
  .salelist__data__item01 img {
    width: 100%;
    border: none;
  }
  .salelist__shopname {
    font-size: 1.3rem;
  }
  .salelist__text {
    font-size: 1.5rem;
    margin-top: 10px;
    line-height: 1.6;
  }
}

/* 開閉時の矢印*/
.salelist__title.is-open .ico-arr:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* =========================================================
フッター上バナー
========================================================= */
.footer-bnr {
  max-width: 1024px;
  margin: 30px auto 0;
  padding: 0 10px;
}

.ft-bnr {
  margin: 0 auto 10px;
}

.ft-bnr:last-child {
  margin-bottom: 0;
}

.ft-bnr a {
  display: block;
}

@media screen and (min-width: 769px) {
  .footer-bnr {
    margin: 60px auto 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ft-bnr {
    width: calc(50% - 10px);
    margin: 0 20px 0 0;
  }
  .ft-bnr:last-child {
    margin-right: 0;
  }
  .ft-bnr a:hover {
    opacity: .7;
  }
}

/* =========================================================
フッター上SNSボタン
========================================================= */
.footer__social {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.footer__social .social__item {
  display: inline-block;
  height: 20px;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

@media screen and (min-width: 769px) {
  .footer__social .social__item {
    margin: 0 11px;
  }
}

.footer__social .social__item a:hover {
  opacity: 0.6;
}

.footer__social .social__item img {
  height: 100%;
}

/* =========================================================
main
========================================================= */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.header {
  position: relative;
  z-index: 1;
}

.header-menu {
  padding: 55px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@media (max-width: 768px) {
  .header-menu {
    padding: 14px 0 0 0;
  }
}

.header-menu .btn-bar {
  text-align: right;
}

@media (max-width: 768px) {
  .header-menu .btn-bar svg {
    width: 40px;
    height: 27px;
  }
}

.content-menu {
  background: url(../images/banner/bg-creator.svg) no-repeat center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s all !important;
  transition: .4s all !important;
  pointer-events: none;
}

.content-menu.active {
  opacity: 1;
  pointer-events: unset;
}

.content-menu ul {
  list-style: none;
  position: relative;
}

@media (max-width: 768px) {
  .content-menu ul {
    position: unset;
  }
}

.content-menu ul li {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .content-menu ul li {
    margin-bottom: 63px;
  }
}

.content-menu ul li:last-child {
  margin-bottom: 0;
}

.content-menu ul li:first-child {
  margin-bottom: 0;
}

.content-menu a {
  text-decoration: none;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

@media (max-width: 768px) {
  .content-menu a {
    font-size: 30px;
  }
}

.content-menu .close-menu {
  position: absolute;
  top: -90px;
  right: -125px;
}

@media (max-width: 768px) {
  .content-menu .close-menu {
    top: 14px;
    right: 20px;
  }
  .content-menu .close-menu svg {
    width: 32px;
    height: auto;
  }
}

.scroll-anime {
  position: relative;
  -webkit-transition: .5s all !important;
  transition: .5s all !important;
  opacity: 0;
  top: 80px;
}

.scroll-anime.animated {
  top: 0;
  opacity: 1;
}

.box-cover {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s all !important;
  transition: .3s all !important;
  overflow: hidden;
}

.box-cover.hide_cover {
  opacity: 0;
  pointer-events: none;
}

.box-cover .avr-cover {
  -webkit-transition: .6s all !important;
  transition: .6s all !important;
  position: relative;
  top: 200px;
  opacity: 0;
}

.box-cover .avr-cover.hide_cover {
  opacity: 1;
  top: 0;
}

.box-cover .avr-cover img {
  max-width: 800px;
}

.modal-creator {
  position: fixed;
  background: url(../images/banner/bg-creator.svg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1003;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .4s all !important;
  transition: .4s all !important;
  padding: 48px;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .modal-creator {
    padding: 20px 20px 40px 20px;
    display: block;
    overflow: auto;
  }
}

.modal-creator.show-modal {
  opacity: 1;
  pointer-events: unset;
}

.modal-creator .modal {
  max-width: 1106px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.modal-creator .close-modal {
  text-align: right;
  margin-bottom: 13px;
}

@media (max-width: 768px) {
  .modal-creator .close-modal svg {
    width: 32px;
    height: auto;
  }
}

.content-modal {
  background: #fff;
  padding: 50px 60px;
}

@media (max-width: 1023px) {
  .content-modal {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .content-modal {
    padding: 30px 30px 40px 30px;
  }
}

.content-modal .row {
  margin: 0 -40px;
}

@media (max-width: 1023px) {
  .content-modal .row {
    margin: 0 -20px;
  }
}

.content-modal .row > div {
  padding: 0 40px;
}

.content-modal .row > div:first-child {
  padding-right: 22px;
}

@media (max-width: 1023px) {
  .content-modal .row > div {
    padding: 0 20px !important;
  }
}

@media (max-width: 768px) {
  .content-modal .row > div {
    max-width: 100% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}

.content-modal .map {
  position: relative;
}

.content-modal .map:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.33;
  position: absolute;
}

.content-modal .map img {
  width: auto;
}

.content-modal .map a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  cursor: pointer;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .content-modal .map a {
    font-size: 22px;
  }
}

.info-profile {
  padding-left: 22px;
}

@media (max-width: 1023px) {
  .info-profile {
    padding: 0;
  }
}

.top-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .top-profile {
    margin: 30px 0 40px 0;
  }
}

.top-profile .avarta-user {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 135px;
  flex: 0 0 135px;
  margin-right: 32px;
}

@media (max-width: 1023px) {
  .top-profile .avarta-user {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91px;
    flex: 0 0 91px;
    margin-right: 22px;
  }
}

.top-profile .info-user .name {
  font-size: 30px;
  margin-bottom: 38px;
}

@media (max-width: 1023px) {
  .top-profile .info-user .name {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.top-profile .link-profile a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

@media (max-width: 1023px) {
  .top-profile .link-profile a {
    font-size: 12px;
  }
}

.top-profile .link-profile a span {
  letter-spacing: 1.2px;
  margin-right: 14px;
  font-family: 'Poppins', sans-serif;
}

.top-profile .link-profile .icon-svg-bott {
  position: absolute;
  bottom: -10px;
  left: 0;
  margin: 0;
}

.top-profile .link-profile .icon {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: 1px;
}

@media (max-width: 1023px) {
  .top-profile .link-profile .icon svg {
    width: 11px;
    height: auto;
  }
}

.container {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .container {
    max-width: 100%;
    padding-left: 73px;
    padding-right: 73px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.title h2 {
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 42px;
  }
}

.title h2 span {
  position: relative;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
}

.title h2 span:before {
  content: "";
  width: 100%;
  background: transparent -webkit-linear-gradient(350deg, #84BBF0 0%, #D6B0DB 48%, #F9B3D6 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(100deg, #84BBF0 0%, #D6B0DB 48%, #F9B3D6 100%) 0% 0% no-repeat padding-box;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .title h2 span:before {
    height: 30px;
  }
}

.title .icon {
  position: absolute;
  bottom: -71px;
  right: -134px;
}

@media (max-width: 768px) {
  .title .icon {
    right: -60px;
    bottom: -40px;
  }
}

.title .icon img {
  height: 143px;
  width: auto;
}

@media (max-width: 768px) {
  .title .icon img {
    width: 160px;
    height: auto;
  }
}

body {
  font-family: “heisei-kaku-gothic-std”, sans-serif;
  font-weight: 500;
}

body.show-modal {
  overflow: hidden;
}

main {
  margin-top: 78px;
  font-size: 15px;
}

@media (max-width: 768px) {
  main {
    margin-top: 60px;
    font-size: 14px;
  }
}

main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

main .row > div {
  padding: 0 15px;
}

main .row .col-md-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

main .row .col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3);
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}

main .row .col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.box-caption-banner {
  margin-bottom: 90px;
}

@media (max-width: 768px) {
  .box-caption-banner {
    margin-bottom: 60px;
  }
}

.box-caption-banner .head-caption {
  margin-bottom: 40px;
  font-size: 28px;
  background-image: -webkit-gradient(linear, left top, right top, from(#84BBF0), to(#F9B3D6));
  background-image: -webkit-linear-gradient(left, #84BBF0, #F9B3D6);
  background-image: linear-gradient(to right, #84BBF0, #F9B3D6);
  padding: 6px 6px 0;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .box-caption-banner .head-caption {
    padding: 12px 20px;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  .box-caption-banner .desc {
    line-height: 2.5;
    padding: 0 20px;
  }
}

.box-caption-banner .desc p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .box-caption-banner .desc p {
    margin-bottom: 0;
  }
}

.box-caption-banner .desc p:last-child {
  margin: 0;
}

.box-caption-banner .container {
  padding-top: 125px;
  padding-bottom: 125px;
}

@media (max-width: 768px) {
  .box-caption-banner .container {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

.icon-abs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-abs img {
  width: 69px;
  height: 63px;
}

@media (max-width: 1200px) {
  .icon-abs img {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .icon-abs img {
    width: 34px;
  }
}

.icon-abs.abs1 {
  top: 0;
  left: 0;
}

@media (max-width: 1366px) {
  .icon-abs.abs1 {
    left: 73px;
  }
}

@media (max-width: 1200px) {
  .icon-abs.abs1 {
    left: 40px;
  }
}

@media (max-width: 768px) {
  .icon-abs.abs1 {
    left: 11px;
  }
}

.icon-abs.abs2 {
  top: 0;
  right: 0;
}

@media (max-width: 1366px) {
  .icon-abs.abs2 {
    right: 73px;
  }
}

@media (max-width: 1200px) {
  .icon-abs.abs2 {
    right: 40px;
  }
}

@media (max-width: 768px) {
  .icon-abs.abs2 {
    right: 11px;
  }
}

.icon-abs.abs3 {
  left: 0;
  bottom: 0;
}

@media (max-width: 1366px) {
  .icon-abs.abs3 {
    left: 73px;
  }
}

@media (max-width: 1200px) {
  .icon-abs.abs3 {
    left: 40px;
  }
}

@media (max-width: 768px) {
  .icon-abs.abs3 {
    left: 11px;
  }
}

.icon-abs.abs4 {
  right: 0;
  bottom: 0;
}

@media (max-width: 1366px) {
  .icon-abs.abs4 {
    right: 73px;
  }
}

@media (max-width: 1200px) {
  .icon-abs.abs4 {
    right: 40px;
  }
}

@media (max-width: 768px) {
  .icon-abs.abs4 {
    right: 11px;
  }
}

.content-caption {
  max-width: 780px;
  margin: 0 auto;
}

.list-creator {
  position: relative;
  padding-top: 240px;
}

@media (max-width: 768px) {
  .list-creator {
    padding-top: 134px;
  }
}

.list-creator .row {
  margin: 0 -25px;
}

@media (max-width: 768px) {
  .list-creator .row {
    margin: 0 -10px;
  }
}

.list-creator .col-md-3 {
  padding: 0 25px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .list-creator .col-md-3 {
    padding: 0 10px;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 calc(100% / 3) !important;
    flex: 0 0 calc(100% / 3) !important;
    max-width: calc(100% / 3) !important;
    margin-bottom: 26px;
  }
}

.list-creator .col-md-3:nth-child(4n+4) {
  margin-top: -240px;
}

@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+4) {
    margin-top: 0;
  }
}

.list-creator .col-md-3:nth-child(4n+3) {
  margin-top: -160px;
}

@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+3) {
    margin-top: 0;
  }
}

.list-creator .col-md-3:nth-child(4n+2) {
  margin-top: -80px;
}

@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(4n+2) {
    margin-top: 0;
  }
}

.list-creator .col-md-3:first-child {
  margin-top: 0;
}

@media (max-width: 768px) {
  .list-creator .col-md-3:first-child {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(3n+3) {
    margin-top: -124px;
  }
}

@media (max-width: 768px) {
  .list-creator .col-md-3:nth-child(3n+2) {
    margin-top: -62px;
  }
}

.item-creator {
  position: relative;
}

.item-creator .avarta {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .item-creator .avarta {
    margin-bottom: 13px;
  }
}

.item-creator .avarta span {
  position: absolute;
  width: 178px;
  height: 82px;
  left: calc(50% - 89px);
  top: calc(50% - 41px);
  background: #fff;
  border: 1px solid #000000;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 200;
  -webkit-transition: .3s all !important;
  transition: .3s all !important;
  opacity: 0;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 1023px) {
  .item-creator .avarta span {
    display: none;
  }
}

.item-creator .avarta img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
}

.item-creator:hover .avarta span {
  opacity: 1;
}

.item-creator .info {
  color: #fff;
  font-size: 16px;
}

@media (max-width: 768px) {
  .item-creator .info {
    font-size: 12px;
    line-height: 19px;
  }
}

.item-creator a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

.box-creators {
  position: relative;
  background: transparent -webkit-linear-gradient(314deg, #84BBF0 0%, #D6B0DB 48%, #F9B3D6 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(136deg, #84BBF0 0%, #D6B0DB 48%, #F9B3D6 100%) 0% 0% no-repeat padding-box;
  background-size: cover;
  padding-bottom: 90px;
}

@media (max-width: 768px) {
  .box-creators {
    padding-bottom: 48px;
  }
}

.box-creators:after {
  content: "";
  width: 100%;
  height: 222px;
  background: #fff;
  position: absolute;
  top: -1px;
  left: 0;
}

@media (max-width: 768px) {
  .box-creators:after {
    height: 111px;
  }
}

.box-creators .container {
  z-index: 2;
}

.box-creators .view-more {
  text-align: right;
}

@media (max-width: 768px) {
  .box-creators .view-more {
    text-align: center;
    padding-top: 29px;
  }
}

.box-creators .view-more a {
  text-decoration: none;
  font-size: 27px;
  font-weight: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  position: relative;
  margin-top: -105px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.box-creators .view-more a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .box-creators .view-more a {
    font-size: 21px;
    margin: 0;
  }
  .box-creators .view-more a svg {
    width: 75px;
    height: auto;
  }
}

.box-creators .view-more .icon {
  position: relative;
  margin-right: -8px;
}

.box-creators .view-more img {
  max-width: 95px;
}

@media (max-width: 768px) {
  .box-creators .view-more img {
    max-width: 75px;
  }
}

.box-creators .view-more span {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.box-creators .title {
  margin-bottom: -60px;
}

@media (max-width: 768px) {
  .box-creators .title {
    margin-bottom: 40px;
  }
}

.box-calender {
  padding: 90px 0 100px 0;
}

@media (max-width: 768px) {
  .box-calender {
    padding: 60px 0;
  }
}

.box-calender .title {
  margin: 0 auto;
}

.box-calender .title h2 span {
  padding: 0 30px;
}

.box-calender .container {
  padding-top: 60px;
  padding-bottom: 84px;
}

@media (max-width: 768px) {
  .box-calender .container {
    padding-bottom: 76px;
    padding-top: 30px;
  }
}

.list-calender {
  margin: 50px 0 73px 0;
}

@media (max-width: 768px) {
  .list-calender {
    margin: 35px 0 55px 0;
  }
}

.list-calender .row {
  margin: 0 -50px;
}

@media (max-width: 768px) {
  .list-calender .row {
    margin: 0 -10px;
  }
}

.list-calender .row > div {
  padding: 0 50px;
}

@media (max-width: 768px) {
  .list-calender .row > div {
    padding: 0 10px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .list-calender .month11 {
    display: none;
  }
}

.item-calender {
  position: relative;
}

.item-calender .action-cal {
  position: absolute;
  width: 40px;
  right: 0;
  top: 3.1%;
  display: none;
}

@media (max-width: 768px) {
  .item-calender .action-cal {
    display: block;
  }
}

@media (max-width: 575px) {
  .item-calender .action-cal {
    top: -16px;
  }
}

.list-event {
  max-width: 930px;
  margin: 0 auto;
  font-size: 15px;
  position: relative;
}

@media (max-width: 575px) {
  .list-event {
    padding-right: 20px;
  }
}

.list-event .row {
  margin: 0 -31px;
}

@media (max-width: 768px) {
  .list-event .row {
    margin: 0 -10px;
  }
}

.list-event .col-md-6 {
  padding: 0 31px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .list-event .col-md-6 {
    padding: 0 10px;
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .list-event .col-md-6 {
    max-width: 100% !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    margin-top: 30px;
  }
}

.list-event .col-md-6:first-child {
  margin-top: 0;
}

.list-event .col-md-6:nth-child(2) {
  margin-top: 0;
}

.item-event {
  position: relative;
  padding-left: 24px;
}

@media (max-width: 768px) {
  .item-event {
    padding-left: 20px;
  }
}

.item-event .avarta {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .item-event .avarta {
    margin-bottom: 12px;
  }
}

.item-event .top {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .item-event .top {
    font-size: 14px;
    margin-bottom: 7px;
  }
}

.item-event h3 {
  font-size: 17px;
  margin-bottom: 25px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .item-event h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.item-event .title-top {
  font-size: 28px;
  position: relative;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  z-index: 2;
  margin-bottom: -25px;
}

@media (max-width: 768px) {
  .item-event .title-top {
    font-size: 24px;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

@media (max-width: 575px) {
  .item-event .title-top {
    font-size: 17px;
  }
}

.item-event .desc {
  line-height: 2;
  font-weight: 500;
}

@media (max-width: 768px) {
  .item-event .desc {
    font-size: 12px;
  }
}

.item-top-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% + 24px);
  position: absolute;
  left: -24px;
  height: auto;
  z-index: 2;
  top: 0;
  height: 100%;
}

.item-top-head .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74px;
  flex: 0 0 74px;
  margin-right: 23px;
}

@media (max-width: 575px) {
  .item-top-head .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    margin-right: 20px;
  }
}

.item-top-head span {
  letter-spacing: 0;
}

.box-special {
  padding: 100px 0;
  background: url(../images/banner/bg-special.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 768px) {
  .box-special {
    padding: 60px 0;
  }
}

.box-special .title {
  margin: 0 auto;
  color: #fff;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .box-special .title {
    margin-bottom: 44px;
  }
}

.box-special .container {
  padding-top: 52px;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .box-special .container {
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.box-special .icon-abs img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.list-special {
  max-width: 914px;
  margin: 0 auto;
}

.item-special {
  margin-bottom: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 37px;
}

@media (max-width: 768px) {
  .item-special {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .item-special {
    display: block;
    padding: 0 20px;
  }
}

.item-special:last-child {
  margin-bottom: 0;
}

.item-special .avarta {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .item-special .avarta {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }
}

.item-special .avarta:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #303232;
  position: absolute;
  left: 10px;
  top: 10px;
}

.item-special .avarta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.item-special .info {
  background: #fff;
  padding: 50px 50px 30px 50px;
  border-radius: 0 10px 10px 0;
  margin-bottom: -37px;
  position: relative;
}

@media (max-width: 768px) {
  .item-special .info {
    padding: 80px 20px 45px 20px;
    position: relative;
    margin: -40px 0 0 0;
    border-radius: 10px;
    width: calc(100% + 40px);
    left: -20px;
  }
}

.item-special .info:after {
  content: '';
  width: 42px;
  background: #fff;
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: absolute;
  bottom: 0;
  left: -42px;
}

@media (max-width: 575px) {
  .item-special .info:after {
    display: none;
  }
}

.item-special .info ul {
  padding: 27px 0;
  font-size: 15px;
}

@media (max-width: 768px) {
  .item-special .info ul {
    padding: 18px 0;
  }
}

.item-special .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.item-special .info ul li:last-child {
  margin-bottom: 0;
}

.item-special .info ul li span {
  line-height: 1.3;
}

.item-special .info ul li span:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}

.item-special .info .desc {
  line-height: 2;
}

.item-special .info h3 {
  font-size: 28px;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .item-special .info h3 {
    font-size: 22px;
  }
}

.box-goods {
  padding: 62.5px 0;
}

@media (max-width: 768px) {
  .box-goods {
    padding: 60px 0;
  }
}

.box-goods .title {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box-goods .title h2 span {
  padding: 0 10px;
}

.box-goods .title .icon-title {
  padding: 0 70px;
  position: relative;
  top: 25px;
}

@media (max-width: 768px) {
  .box-goods .title .icon-title {
    padding: 0 12px;
    top: 0;
  }
}

@media (max-width: 768px) {
  .box-goods .title .icon-title img {
    width: 64px;
    height: auto;
  }
}

.box-goods .container {
  padding-top: 44px;
  padding-bottom: 94px;
}

@media (max-width: 768px) {
  .box-goods .container {
    padding-top: 30px;
    padding-bottom: 76px;
  }
}

.content-goods {
  max-width: 1140px;
  margin: 70px auto 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .content-goods {
    margin-top: 55px;
    padding: 0 20px;
  }
}

.content-goods .row {
  margin: 0 -30px;
}

@media (max-width: 768px) {
  .content-goods .row {
    margin: 0 -10px;
  }
}

.content-goods .row > div {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .content-goods .row > div {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .content-goods .row > div {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
    padding-right: 0;
  }
  .content-goods .row > div:last-child {
    margin-bottom: 0;
  }
}

.content-goods .circle {
  position: absolute;
  z-index: 3;
  top: -44px;
  left: -44px;
}

@media (max-width: 768px) {
  .content-goods .circle {
    left: -10px;
  }
}

.content-goods .circle img {
  width: 88px;
  height: 88px;
}

.item-good {
  position: relative;
}

.item-good .avarta {
  position: relative;
  padding-right: 10px;
  margin-bottom: 10px;
}

.item-good .avarta:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #303232;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 0;
}

.item-good .avarta img {
  border-radius: 10px;
}

.item-good .avarta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.item-good .info {
  padding-top: 27px;
}

.item-good .info h3 {
  font-size: 15px;
  margin-bottom: 16px;
}

.item-good .info .price {
  font-size: 15px;
}

.view-shop {
  margin-top: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .view-shop {
    margin-top: 29px;
  }
}

.view-shop a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 768px) {
  .view-shop a {
    font-size: 12px;
  }
}

.view-shop a:hover {
  opacity: 0.8;
}

.view-shop a span {
  display: block;
  margin-bottom: -4px;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .view-shop a svg {
    width: 125px;
  }
}

.box-quesstion {
  position: relative;
  background: #FFDC03;
  padding: 65px 0;
  font-size: 14px;
  line-height: 2;
}

@media (max-width: 768px) {
  .box-quesstion {
    padding: 60px 0;
    font-size: 12px;
  }
}

.box-quesstion h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: initial;
}

.box-quesstion p {
  margin-bottom: 40px;
}

.box-quesstion p:last-child {
  margin-bottom: 0;
}

.box-quesstion .title {
  margin: 0 auto;
}

.box-quesstion .title h2 {
  line-height: initial;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.box-quesstion .container {
  padding-top: 44px;
  padding-bottom: 84px;
}

@media (max-width: 768px) {
  .box-quesstion .container {
    padding-top: 35px;
    padding-bottom: 70px;
  }
}

.content-quesstion {
  max-width: 914px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

@media (max-width: 768px) {
  .content-quesstion {
    padding: 28px 0 0 0;
  }
}

.plus-abs {
  position: absolute;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.plus-abs .icon {
  margin-bottom: 48px;
  -webkit-animation: rotate_plus 5s linear infinite;
  animation: rotate_plus 5s linear infinite;
}

.plus-abs .icon:last-child {
  margin-bottom: 0;
}

.plus-abs.plus-left {
  left: -75px;
}

@media (max-width: 1200px) {
  .plus-abs.plus-left {
    left: -40px;
  }
}

@media (max-width: 768px) {
  .plus-abs.plus-left {
    left: -20px;
  }
}

.plus-abs.plus-right {
  right: -75px;
}

@media (max-width: 1200px) {
  .plus-abs.plus-right {
    right: -40px;
  }
}

@media (max-width: 768px) {
  .plus-abs.plus-right {
    right: -20px;
  }
}

@-webkit-keyframes rotate_plus {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate_plus {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=map/style.css.map */
