*{margin: 0;padding: 0;box-sizing: border-box;}
body {
  height: 100vh;
  overflow: hidden;
  &.active {
    height: auto;
    overflow: auto;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #40CE7A;
  }
}
img {
  max-width: 100%;
}
main {
  overflow: hidden;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 13;
  @media (max-width: 1023px) {
    max-width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}
.text-center {
  text-align: center;
}

.slick-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  top: calc(50% - 20px);
  border: 2px solid #fff;
  border-radius: 100%;
  &.arr-right {
    right: -20px;
  }
  &.arr-left {
    left: -20px;
  }
}

.title {
  margin-bottom: 78px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (max-width: 1023px) {
    margin-bottom: 38px;
  }
  h2 {
    font-style: italic;
    font-size: 84px;
    font-weight: 600;
    line-height: 0.84;
    width: max-content;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1023px) {
      font-size: 64px;
    }
    span {
      position: relative;
      display: inline-flex;
      padding-bottom: 10px;
      transition: .5s ease-in !important;
      opacity: 0;
      top: 50px;
      &.animated {
        top: 0;
        opacity: 1;
      }
    }
    label {
      position: absolute;
      bottom: -24px;
      right: -68px;
      opacity: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      @media (max-width: 767px) {
        bottom: -17px;
        right: -43px;
      }
      img {
        @media (max-width: 767px) {
          width: 35px;
        }
      }
    }
    &.animated {
      span {
        top: 0;
        opacity: 1;
      }
      label {
        animation: title-flicker 2.5s infinite;
      }
      .line {
        animation-delay: 10s;
        animation: title_line 1s;
        width: calc(100% + 36px);

      }
    }
  }
  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 36px);
    height: 1px;
    background: #fff;
    @media (max-width: 767px) {
      width: calc(100% + 20px);
    }
  }
}

@keyframes title_line {
  0% {
    width: 0px;
  }
  90% {
    width: calc(100% + 36px);
  }
}

.wow-up {
  position: relative;
  transition: .5s ease-in !important;
  opacity: 0;
  top: 50px;
  &:after {
    opacity: 0;
  }
  &.animated {
    top: 0;
    opacity: 1;
    span {
      &:after {
        animation: title_line 0.5s linear;
        opacity: 1;
        background: #fff;
      }
    }
    label {
      opacity: 1;
      animation: title-flicker 0.5s;
    }
  }
}

.title-riveting {
  margin-bottom: 50px;
  position: relative;
  z-index: 3;
  opacity: 0;
  top: -80px;
  transition: 1s all !important;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  img {
    @media (max-width: 1023px) {
      max-height: 180px;
    }
  }
  &.animated {
    opacity: 1;
    top: 0;
  }
}
.content-riveting {
  letter-spacing: 1px;
  line-height: 2.5;
  font-weight: 500;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 2;
  }
  .txt-riveting {
    @media (max-width: 767px) {
      max-width: 276px;
      margin: 0 auto;
    }
  }
  p {
    margin-bottom: 60px;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.user-riveting {
  margin-top: 80px;
  padding: 40px;
  border: 2px solid #1D5D00;
  background: #F8F8E9;
  @media (max-width: 767px) {
    margin-top: 40px;
    padding: 30px;
  }

  .info-user {
    ul {
      li {
        img {
          max-width: 32px;
        }
      }
    }
  }
}
.content-user {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 1.625;
  font-weight: normal;
  @media (max-width: 767px) {
    display: block;
    font-size: 13px;
    text-align: center;
  }
  .avarta {
    flex: 0 0 195px;
    margin-right: 40px;
    @media (max-width: 767px) {
      margin: 0 auto;
      max-width: 128px;
    }
  }
  .namer {
    letter-spacing: 0.9px;
    font-weight: bold;
    font-size: 18px;
    @media (max-width: 767px) {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  .desc {
    padding: 10px 0;
    @media (max-width: 767px) {
      padding: 10px 0 20px 0;
    }
  }
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
    li {
      margin-right: 20px;
      @media (max-width: 767px) {
        margin-right: 20px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.box-riveting {
  //padding: 0 0 168px 0;
  position: relative;
  //background: #F8EFD9;
  transition: 0.6s all !important;
  z-index: 11;
  margin-top: 0;
  @media (max-width: 767px) {
    //padding: 70px 0 110px 0;
  }
  &.active {
    margin-top: -10.5%;
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }
  //&:after {
  //  content: "";
  //  width: 100%;
  //  height: 100px;
  //  background: #40CE7A;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  @media (max-width: 767px) {
  //    opacity: 0;
  //  }
  //}
  .top-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s all !important;
    position: relative;
    z-index: 3;
    //&.active {
    //  margin-top: -100px;
    //}
    @media (max-width: 1023px) {
      margin-bottom: 0;
      &.active {
        margin-top: -134px;
        top: 3px;
        background: transparent;
        transform: scale(1.04);
        @media (max-width: 767px) {
          margin-top: -90px;
        }
      }
    }
    >div {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }
    img {
      width: 100%;
      height: 260px;
      object-fit: fill;
      @media (max-width: 767px) {
        height: 146px;
      }
    }
    .rv-pc {
      margin-bottom: -60px;
      position: relative;
      @media (max-width: 1023px) {
        display: none;
      }
      &:after {
        content: "";
        width: 100%;
        height: 50px;
        background: #40ce7a;
        position: absolute;
        bottom: 82px;
        left: 0;
        z-index: -1;
      }
    }
    .rv-mb {
      display: none;
      @media (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -180px;
      }
      @media (max-width: 767px) {
        margin-bottom: -76px;
      }
    }
  }
  .content-box-rive {
    padding: 0 0 168px 0;
    background: #F8EFD9;
    @media (max-width: 767px) {
      padding-bottom: 100px;
    }
  }
}

.top-bg {
  position: absolute;
  top: -42px;
  height: 43px;
  width: 100%;
  left: 0;
  animation: scroll-anim 15s linear infinite;
  background-size: 50%;
  z-index: 12;
  @media (max-width: 767px) {
    animation: scroll-anim 5s linear infinite;
    top: -29px;
    background-size: cover !important;
    height: 30px;
  }
}
.box-event {
  position: relative;
  padding: 140px 0 180px 0;
  background: #FF4A01;
  color: #fff;
  @media (max-width: 1023px) {
    padding: 30px 0 135px 0;
    z-index: 12;
  }
  .slick-arrow {
    background: #D61D1B98;
  }
  .top-bg {
    background: url("../images/top-event.png") repeat-x center;
  }
  .txt-item-right {
    background: #D61D1B98;
  }
  .icon-abs {
    position: absolute;
    &.abs-1 {
      top: -16%;
      left: -14%;
      max-width: 38%;
      @media (max-width: 1023px) {
        max-width: 217px;
        top: -28px;
        left: -20px;
      }
    }
    &.abs-2 {
      bottom: -25%;
      right: -4%;
      max-width: 18%;
      @media (max-width: 1200px) {
        right: -15px;
      }
      @media (max-width: 767px) {
        bottom: -132px;
        max-width: 147px;
      }
    }
  }
}

.item-section {
  display: flex;
  margin-bottom: 100px;
  @media (max-width: 767px) {
    display: block;
    margin-bottom: 60px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2n) {
    .avarta-item-left {
      margin: 0 0 0 40px;
      order: 2;
      @media (max-width: 1023px) {
        margin: 0 0 0 24px;
      }
    }
    .txt-item-right {
      order: 1;
    }
  }
  .avarta-item-left {
    flex: 0 0 420px;
    max-width: 420px;
    position: relative;
    width: 100%;
    margin-right: 40px;
    @media (max-width: 1023px) {
      margin-right: 24px;
      flex: 0 0 45%;
      max-width: 45%;
    }
    @media (max-width: 767px) {
      margin: 0 !important;
      position: relative;
      max-width: 100%;
      padding: 0 20px;
      z-index: 2;
    }
  }
  .avr {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
  .slide-avr {
    margin: 0;
    border: 2px solid #fff;
  }
  .txt-item-right {
    padding: 40px 50px;
    border: 2px solid #fff;
    flex: 0 0 calc(55% - 24px);
    max-width: calc(55% - 24px);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: initial;
    @media (max-width: 1023px) {
      padding: 24px;
    }
    @media (max-width: 767px) {
      padding: 60px 20px 40px 20px;
      max-width: 100%;
      position: relative;
      margin-top: -40px;
      font-size: 13px;
    }
    .info {
      line-height: 1.75;
    }
    h3 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.53;
      margin-bottom: 20px;
    }
    ul {
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .desc {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.75;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }
}
.viewmore {
  margin-top: 30px;
  a {
    display: flex;
    position: relative;
    padding: 24px 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 29px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    line-height: initial;
    max-height: 85px;
    max-width: 480px;
    margin: 0 auto;
    @media (max-width: 1023px) {
      font-size: 25px;
      padding: 14px 20px;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      border: 2px solid #fff;
      top: calc(50% - 19px);
      right: 30px;
      @media (max-width: 1023px) {
        right: 10px;
        width: 26px;
        height: 26px;
        padding: 5px;
        top: calc(50% - 13px);
      }
    }
  }
}
.box-campaign {
  position: relative;
  padding: 140px 0 180px 0;
  color: #fff;
  background: #40CE7A;
  @media (max-width: 1023px) {
    padding: 30px 0 135px 0;
  }
  .top-bg {
    background: url("../images/top-campaign.png") repeat-x center;
  }
  .txt-item-right {
    background: #21B75E99;
  }
  .title {
    h2 {
      @media (max-width: 767px) {
        font-size: 60px;
      }
    }
  }
  .icon-abs {
    position: absolute;
    img {
      width: 100%;
    }
    &.abs-1 {
      top: -4%;
      right: 0;
      max-width: 32%;
      @media (max-width: 1023px) {
        max-width: unset;
        width: 192px;
        top: -30px;
      }
    }
    &.abs-2 {
      left: -18%;
      top: 70%;
      max-width: 24%;
      @media (max-width: 1023px) {
        left: -4%;
        max-width: 152px;
        top: 64%;
      }
      @media (max-width: 767px) {
        top: 52%;
      }
    }
    &.abs-3 {
      right: -10%;
      bottom: -6%;
      max-width: 30%;
      @media (max-width: 1360px) {
        right: -6%;
      }
      @media (max-width: 1200px) {
        right: 0;
      }
      @media (max-width: 1023px) {
        max-width: 193px;
        right: -12%;
      }
    }
  }
  .list-item-section {
    position: relative;
    z-index: 3;
  }
}
.list-item-section {
  position: relative;
  z-index: 2;
}
.box-popup {
  position: relative;
  padding: 140px 0 180px 0;
  color: #FF4A01;
  background: #F8EFD9;
  @media (max-width: 1023px) {
    padding: 30px 0 150px 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0 104px 0;
  }
  .title {
    span {
      &:after {
        background: #FF4A01;
      }
    }
    .line {
      background: #FF4A01;
    }
  }
  .top-bg {
    background: url("../images/top-popup.png") repeat-x center;
  }
  .icon-abs {
    position: absolute;
    &.abs-1 {
      top: -6%;
      right: -2%;
      max-width: 18.5%;
      @media (max-width: 1250px) {
        right: 0;
      }
      @media (max-width: 767px) {
        max-width: 121px;
      }
    }
    &.abs-2 {
      left: -16%;
      top: 56%;
      max-width: 36%;
      @media (max-width: 767px) {
        max-width: 185px;
      }
    }
    &.abs-3 {
      bottom: -18%;
      right: -8%;
      max-width: 19%;
      @media (max-width: 1250px) {
        right: 0;
      }
      @media (max-width: 767px) {
        max-width: 147px;
        bottom: -131px;
        right: 30px;
      }
    }
  }
}

.content-popup {
  max-width: 720px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .sort-content {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 2;
    letter-spacing: 1px;
  }
  .list-popup {
    column-gap: 40px;
    width: 100%;
    column-count: 2;
    @media (max-width: 1023px) {
      column-gap: 24px;
    }
    @media (max-width: 767px) {
      column-count: 1;
    }
    .col-popup {
      position: relative;
      margin-bottom: 40px;
      @media (max-width: 1023px) {
        margin-bottom: 24px;
      }
      @media (max-width: 767px) {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.item-popup {
  position: relative;
  //padding-top: 100%;
  border: 2px solid #FF4A01;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #00000000 0%, #484848 100%) 0% 0% no-repeat padding-box;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 360ms;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
  h3{
    font-size: 30px;
    color: #fff;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  ul {
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    li {
      font-size: 20px;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }
  .avarta {
    img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    z-index: 3;
    color: #fff;
    @media (max-width: 767px) {
      padding: 20px;
      font-size: 13px;
    }
    .desc {
      margin-bottom: 8px;
      font-weight: 300;
      line-height: 1.75;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
    .more {
      text-align: right;
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        @media (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.box-bgm {
  padding: 140px 0;
  color: #fff;
  background: #358BD3;
  position: relative;
  @media (max-width: 1023px) {
    padding: 30px 0 100px 0;
  }
  .top-bg {
    background: url("../images/top-bgm.png") repeat-x center;
  }
  .title {
    @media (max-width: 767px) {
      margin-bottom: 28px;
    }
  }
  .icon-abs {
    position: absolute;
    &.abs-1 {
      top: -18%;
      left: -10%;
      max-width: 34%;
      @media (max-width: 767px) {
        max-width: 224px;
        left: -92px;
        top: -8%;
      }
    }
    &.abs-2 {
      bottom: -26%;
      right: -20%;
      max-width: 32.5%;
      @media (max-width: 1600px) {
        bottom: -26%;
        right: -14%;
        max-width: 28%;
      }
      @media (max-width: 1400px) {
        bottom: -26%;
        right: -10%;
        max-width: 28%;
      }
      @media (max-width: 1360px) {
        bottom: -26%;
        right: 0;
        max-width: 28%;
      }
      @media (max-width: 1023px) {
        bottom: -22%;
      }
      @media (max-width: 767px) {
        max-width: 218px;
        right: -16%;
      }
    }
  }
}

.content-bgm {
  max-width: 720px;
  margin: 0 auto;
  .sort-content {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .viewmore {
    margin-top: 60px;
    @media (max-width: 767px) {
      margin-top: 28px;
    }
  }
}

.box-banner {
  position: relative;
  height: 100vh;
  background: #40CE7A;
  overflow: hidden;
  z-index: 10;
  @media (max-width: 767px) {
    display: none;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1360px;
  }
  .icon-abs {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
    &.icon-1 {
      filter: blur(10px);
      transition: .4s all !important;
      &.active {
        filter: blur(0);
      }
    }
    &.icon-2 {
      transition: .7s all !important;
      top: -60px;
      opacity: 0;
      &.active {
        opacity: 1;
        top: 0;
        animation: 5s fuwafuwa infinite;
      }
    }
    &.icon-3 {
      transition: .7s all !important;
      top: -40px;
      opacity: 0;
      &.active {
        opacity: 1;
        top: 0;
        animation: 5s fuwafuwa infinite;
      }
    }
    &.icon-4 {
      transition: .9s all !important;
      top: -60px;
      opacity: 0;
      &.active {
        opacity: 1;
        top: 0;
        animation: 5s fuwafuwa infinite;
      }
    }
  }
}

.bg-orang {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FF4A01;
  transition: 1s all !important;
  pointer-events: none;
  &.active {
    opacity: 0;
  }
}
.bg-cover {
  position: fixed;
  width: 100vh;
  height: 100vh;
  background: #40CE7A;
  top: 0;
  left: calc(50% - 50vh);
  z-index: 13;
  transition: 1.8s all !important;
  transform: scale(0);
  border-radius: 100%;
  pointer-events: none;
  &.active {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1; }
  23% {
    opacity: 1; }
  50% {
    opacity: 0.1; }
  75% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 1; }
}

@keyframes title-flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes unyo-right3 {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0
  }

  to {
    -webkit-mask-position: 70px 0;
    mask-position: 70px 0
  }
}

@keyframes scroll-anim {
  100% {
    background-position: 100% 0;
  }
}
@keyframes title_line {
  0% {
    width: 0px;
  }
  100% {
    width: calc(100% + 43px);
    @media (max-width: 767px) {
      width: calc(100% + 20px);
    }
  }
}
.box-banner-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: relative;
    background: #42CD7A;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .cover-1 {
    filter: blur(10px);
    transition: 0.8s all !important;
    &.active {
      filter: blur(0);
    }
    img {
      width: 100%;
    }
  }
  .cover-2 {
    right: 4%;
    max-width: 64%;
    z-index: 2;
    top: 8%;
    margin-top: -40px;
    transition: 1s all !important;
    opacity: 0;
    &.active {
      margin-top: 0;
      opacity: 1;
      animation: 5s fuwafuwa infinite;
    }
  }
  .cover-3 {
    top: 34%;
    right: 6%;
    max-width: 22%;
    z-index: 3;
    margin-top: -40px;
    transition: 1s all !important;
    opacity: 0;
    &.active {
      margin-top: 0;
      opacity: 1;
      animation: 5s fuwafuwa infinite;
    }
  }
  .logo-cover {
    max-width: 146px;
    position: fixed;
    top: -50px;
    left: 17px;
    z-index: 2;
    transition: 1s all !important;
    opacity: 0;
    animation: 5s fuwafuwa infinite;
    &.active {
      opacity: 1;
      top: 7px;
    }
  }
  .icon-cover {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover-abs {
    position: absolute;
  }
}

// view more
.viewmore a span {
  opacity: 0;
}
.viewmore.animated a span {
    transform: translateY(2em);
    animation: textanimation 1s forwards;
}
/* 1文字目 */
.viewmore.animated a span:nth-child(1) {
    animation-delay: 0.2s;
    
}
/* 2文字目 */
.viewmore.animated a span:nth-child(2) {
    animation-delay: 0.4s;
    
}
/* 3文字目 */
.viewmore.animated a span:nth-child(3) {
    animation-delay: 0.6s;
    
}
/* 4文字目 */
.viewmore.animated a span:nth-child(4) {
    animation-delay: 0.8s;
    
}
/* 5文字目 */
.viewmore.animated a span:nth-child(5) {
    animation-delay: 1s;
    
}
/* 6文字目 */
.viewmore.animated a span:nth-child(6) {
    animation-delay: 1.2s;
    
}
/* 7文字目 */
.viewmore.animated a span:nth-child(7) {
    animation-delay: 1.4s;
    
}
/* 8文字目 */
.viewmore.animated a span:nth-child(8) {
    animation-delay: 1.6s;
    
}
/* 9文字目 */
.viewmore.animated a span:nth-child(9) {
    animation-delay: 1.8s;
    
}
/* 10文字目 */
.viewmore.animated a span:nth-child(10) {
    animation-delay: 2s;

}
/* 11文字目 */
.viewmore.animated a span:nth-child(11) {
    animation-delay: 2.2s;
    
}
/* 12文字目 */
.viewmore.animated a span:nth-child(12) {
    animation-delay: 2.4s;
    
}


@keyframes textanimation {
    0% {
        //transform: translateY(2em);
      transform: scale(0);
      opacity: 0;
    }

    100% {
        //transform: translateY(0);
      transform: scale(1);
      opacity: 1;
    }
}


@keyframes fuwafuwa {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {

  @keyframes fuwafuwa {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}
