// code here

// font setting
/*
▼Ten Mincho Antique Medium
font-family: "ten-mincho-antique", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Regular
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 400;
font-style: normal;

▼Source Han Sans JP Medium
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Bold
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 700;
font-style: normal;

*/