// code here

// font setting
/*
▼Ten Mincho Antique Medium
font-family: "ten-mincho-antique", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Regular
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 400;
font-style: normal;

▼Source Han Sans JP Medium
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Bold
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 700;
font-style: normal;

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.rokkitt-<uniquifier> {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
body {
    color: #000;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 400;
}

.scroll {
    z-index: 5;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: bounce 1.5s infinite;
}

.container {
    max-width: 1130px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ribo-hr {
    margin-top: 50px;
    width: 80px;
    left: 0;
    position: relative;
    margin-left: 0;
}

.block-section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.back-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 10;

    @media (min-width: 769px) {
        &:hover {
            .back-top-unset {
                opacity: 0;
                visibility: hidden;
            }

            .back-top-hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-hover {
        visibility: hidden;
        opacity: 0;
    }

    img {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
    }
}

.main-contents {
    img {
        // width: 100%;
    }
}

.slick-arrow {
    position: absolute;
    bottom: -80px;

    &.next {
        right: 80px;

        img {
            margin-left: 20px;
        }
    }

    &.prev {
        left: 80px;

        img {
            margin-right: 20px;
        }
    }

    img {
        max-width: 29px;
    }
}

.slick-arrow button {
    background: none;
    border: 0;
    font-size: 19px;
    font-family: "Rokkitt", serif;
    font-weight: bold;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

}

// nav
.nav {
    background: url('../images/ami.svg') no-repeat, #fff;
    background-size: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 3px solid #000;
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 55;

    &-body {
        max-width: 952px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;

        &-item {
            // width: 25%;
        }

        &-link {
            font-family: "Rokkitt", serif;
            font-weight: bold;
            font-size: 24px;
            color: #000;
            line-height: 1.4;
            letter-spacing: 0;
            text-decoration-line: unset;
            position: relative;
            transition: .3s all;

            &:before {
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                background: #000;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0;
                transition: .3s all;
            }

            @media (min-width: 769px) {
                &:hover {
                    &:before {
                        transition: .3s all;
                        width: 100%;
                    }
                }
            }
        }
    }
}
// main MV

.mv {
    margin-bottom: 160px;

    &-body {
        width: 100%;
        position: relative;
        height: 56.25vw;
        overflow: hidden;
        background: url('../images/mv/top_ami_pc.png') no-repeat;
        background-size: cover;
    }

    &-listitem {
        position: absolute;
        width: 100%;


        > * {
            position: absolute;
            z-index: -1;
        }

        &-01 {
            left: 25.5vw;
            top: 3vw;
            z-index: 4;

            img {
                width: 48vw;
            }
        }

        &-02 {
            left: 55vw;
            top: 1vw;
            z-index: 5;

            img {
                width: 29.42vw;
            }
        }

        &-03 {
            left: 49.5vw;
            top: 16.5vw;
            z-index: 4;

            img {
                width: 29.42vw;
            }
        }

        &-04 {
            left: 23vw;
            top: 27vw;
            z-index: 4;

            img {
                width: 29.42vw;
            }
        }

        &-05 {
            left: 14vw;
            top: 8.5vw;
            z-index: 4;

            img {
                width: 29.42vw;
            }
        }

        &-06 {
            left: -6vw;
            top: -4.4vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }

        &-07 {
            left: 4.6vw;
            top: -6.5vw;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-08 {
            left: 14vw;
            top: -4.4vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }

        &-09 {
            left: 23vw;
            top: -8.9vw;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-10 {
            left: 32.5vw;
            top: -7.5vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-11 {
            left: 42.5vw;
            top: -7vw;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-12 {
            right: 20.5vw;
            top: -7vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-13 {
            right: 5.2vw;
            top: -5vw ;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-14 {
            right: -7vw;
            top: -6vw;
            z-index: 4;

            img {
                width: 22.06vw;
            }
        }

        &-15 {
            left: -8vw;
            top: 15vw;
            z-index: 3;

            img {
                width: 22.06vw;
            }
        }

        &-16 {
            left: 3vw;
            top: 13vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }

        &-17 {
            right: 17.3vw;
            top: 17vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-18 {
            right: 8vw;
            top: 14.5vw;
            z-index: 3;

            img {
                width: 22.06vw;
            }
        }

        &-19 {
            right: -4vw;
            top: 14vw;
            z-index: 3;

            img {
                width: 22.06vw;
            }
        }

        &-20 {
            left: -5.5vw;
            top: 31.8vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-21 {
            left: 5.5vw;
            top: 35.2vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }

        &-22 {
            left: 9.5vw;
            top: 23.8vw;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-23 {
            left: 17.5vw;
            top: 31.2vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-24 {
            left: 30.5vw;
            top: 33vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-25 {
            right: 34.5vw;
            top: 33vw;
            z-index: 3;

            img {
                width: 22.06vw;
            }
        }

        &-26 {
            right: 22.5vw;
            top: 33vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }

        &-27 {
            right: 13vw;
            top: 33vw;
            z-index: 1;

            img {
                width: 22.06vw;
            }
        }

        &-28 {
            right: 2.5vw;
            top: 31.5vw;
            z-index: 0;

            img {
                width: 22.06vw;
            }
        }

        &-29 {
            right: -7.3vw;
            top: 30.5vw;
            z-index: 2;

            img {
                width: 22.06vw;
            }
        }
    }

    &-background {
        img {
            width: 100%;
        }
    }
}
.icon-title {
    text-align: center;
    position: relative;
    z-index: 3;
}

// ribo
.ribo-text {
    max-width: 1080px;
    margin: 0 auto 350px;

    > * {
        font-family: "source-han-sans-japanese", sans-serif;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1.85;
    }

    &-english {
        font-size: 22px;
        color: #3AAA63;
        font-family: "Rokkitt", serif;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: "source-han-sans-japanese", sans-serif;
        margin-bottom: 50px;
    }

    &-info {
        p {
            
        }
    }

    &-buttom-line {
        display: inline-block;
        border-bottom: 3px solid #3AAA63;
        margin-top: 35px;
    }

    &-timeline {
        margin-top: 45px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }

        &-item {
            position: relative;
            margin-right: 30px;
            padding-left: 20px;

            &:last-child {
                margin-right: 0;
            }

            &:before {
                position: absolute;
                content: '＊';
                color: #3AAA63;
                left: 0;
                top: 0;
            }
        }
    }
}


// list-column-first-list

.list-column {
    img {
        width: 100%;
    }

    &-first {
        max-width: 1050px;
        margin: 0 auto 100px;

        .list-column-last-item {
            padding: 0;
            width: 100%;
        }

        .list-column-last-item-info {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: center;
        }

        .list-column-last-img {
            max-width: 59.5%;
        }

        .list-column-last-item-desc {
            max-width: 30.8%;
            padding: 0;
            margin-left: 100px;
        }

        .list-column-last-item .parco-tag {
            position: relative;
            right: 0;
            bottom: 0;
            top: 0;
            margin-bottom: 30px;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }

        &-left {
            max-width: 30.8%;
            margin-right: 100px;
        }

        &-right {
            max-width: 59.5%;
        }
    }

    &-last {
        display: flex;
        flex-wrap: wrap;
        margin-left: -23px;
        margin-right: -23px;

        &-item {
            width: calc(100% / 3);
            padding-left: 23px;
            padding-right: 23px;
            box-sizing: border-box;
            margin-bottom: 60px;

            &.active {
                display: none;
            }

            .parco-tag {
                position: absolute;
                right: -13px;
                top: -85px;
            }

            &-desc {
                padding: 0 25px 25px 25px;
                position: relative;
            }

            &-info {
                
            }
        }

        &-img {
            margin-bottom: 40px;
            position: relative;
        }
    }
}

.parco {
    &-tag {
        max-width: 134px;
        margin: 0 auto 30px;
    }

    &-title {
        margin-bottom: 25px;
        h3 {
            font-size: 24px;
            letter-spacing: 0;
            line-height: 1.25;
            font-family: "ten-mincho-antique", sans-serif;
            font-weight: 500;
        }
    }

    &-desciption {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.75;
        margin-bottom: 20px;
    }

    &-time, &-adress {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 1.75;
    }

    &-link {
        margin-top: 20px;
        text-align: right;
        a {
            color: #000;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0;
            text-decoration: none;
        }
    }
}

// event
.event {
    background: #B2FF9A;
    
    &:before {
        position: absolute;
        top: 0;
        content: "";
        width: 100%;
        height: 200px;
        background:linear-gradient(to bottom right,#fff 50%, #B2FF9A 50%);
    }

    .icon-title {
        margin-top: -25px;
    }

    &-body {
        padding-top: 100px;
    }

    .list-column-first .list-column-last-item-info {
        flex-direction: row-reverse;
    }

    .list-column-first .list-column-last-item-desc {
        margin-left: 0;
        margin-right: 100px;
    }
}

// talk-show
.talk-show {
    &:before {
        position: absolute;
        top: -65px;
        content: "";
        width: 100%;
        height: 200px;
        background: linear-gradient(to top right, #fff 50%, #B2FF9A 50%);
        z-index: 1;
    }

    .icon-title {
        margin-top: -85px;
    }

    &-body {
        padding-top: 110px;
    }

    .list-column-first .list-column-last-item-info {
        // flex-direction: row-reverse;
    }

    .list-column-last-item-desc {
        margin-right: 0;
        margin-left: 100px;
    }
}


//popup-shop
.popup-shop {
    background: #FFE07E;

    &:before {
        position: absolute;
        top: 0;
        content: "";
        width: 100%;
        height: 200px;
        background:linear-gradient(to bottom right,#fff 50%, #FFE07E 50%);
    }

    .icon-title {
        margin-top: -45px;
    }

    &-body {
        padding-top: 110px;
    }

    .list-column-first .list-column-last-item-info {
        flex-direction: row-reverse;
    }

    .list-column-first .list-column-last-item-desc {
        margin-left: 0;
        margin-right: 100px;
    }
}

// sustainable-action
.sustainable-action {
    &:before {
        position: absolute;
        top: -65px;
        content: "";
        width: 100%;
        height: 200px;
        background: linear-gradient(to top right, #fff 50%, #FFE07E 50%);
        z-index: 1;
    }

    .icon-title {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    &-text {
        font-weight: 300;
        text-align: center;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 1.85;
        margin-bottom: 40px;
    }

    .parco-link {
        text-align: center;

        a {
            text-decoration: none;
        }
    }
}

.footer {
    background: url('../images/ami.svg'), #3AAA63 no-repeat;

    &:before {
        position: absolute;
        top: 0;
        content: "";
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom right, #fff 50%, transparent 50%);
    }


    &-body {
        padding-top: 100px;
    }

    &-logo {
        text-align: center;
        max-width: 175px;
        margin: 0 auto 15px;
    }

    &-copyright {
        font-size: 19px;
        font-family: "Rokkitt", serif;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0;
    }
}

.sns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &-item {
        margin-right: 11px;

        &:last-child {
            margin-right: 0;
        }

        a {
            transition: .3s all;

            &:hover {
                transition: .3s all;
                opacity: 0.8;
            }
        }
    }
}

// animation
@keyframes bounce {
    from,
    20%,
    53%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}