@charset "UTF-8";
/* =========================================================
colors
========================================================= */
/* =========================================================
body
========================================================= */
html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  color: #1D5D00;
  font-family: "source-han-sans-cjk-ja", sans-serif;
  font-weight: 500;
  font-style: 400;
  font-size: 20px;
  line-height: 1.8;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
body.open_modal {
  overflow: hidden;
}

.menu-fixed a {
  font-family: span;
}

.title h2 span, .viewmore, .pft p {
  font-family: span;
}

.main-contents {
  font-weight: 500;
}

@media print {
  html, body {
    _zoom: 70% !important;
  }
}
main {
  display: block; /*IE*/
}

/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  z-index: 22;
}
.phd__in {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
}
.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}
.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}
.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}
.phd__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phd__sns li {
  margin-right: 8px;
}
.phd__sns li:last-child {
  margin-right: 0;
}
.phd__sns li a {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}
@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}
.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}
.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}

.phd__sns li .phd__sns__item__link-tiktok {
  background: #000000;
}

.phd__sns li .phd__sns__item__link-tiktok svg {
  height: 19px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-tiktok svg {
    height: 17px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft {
  padding: 80px 0 148px 0;
  background: #F8EFD9;
  position: relative;
  color: #FF4A01;
}
@media (max-width: 1023px) {
  .pft {
    padding: 50px 0 90px 0;
  }
}
.pft .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
  max-width: 158px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .pft .logo {
    margin-bottom: 18px;
  }
}
.pft .logo a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.pft p {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.social-footer {
  padding: 28px 0 0 0;
}
@media (max-width: 768px) {
  .social-footer {
    padding: 14px 0 0 0;
  }
}
.social-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-footer ul li {
  padding: 0 12px;
}
@media (max-width: 768px) {
  .social-footer ul li {
    padding: 0 12px;
  }
}
.social-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .social-footer img {
    width: 26px;
    height: 26px;
  }
}

.content-header {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  z-index: 14;
  padding: 20px;
  transition: 1s all !important;
  opacity: 0;
}
@media (max-width: 767px) {
  .content-header {
    padding: 18px 10px;
  }
}
.content-header.active {
  top: 0;
  opacity: 1;
}
.content-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-header ul li {
  margin-right: 26px;
}
@media (max-width: 767px) {
  .content-header ul li {
    margin-right: 20px;
  }
}
.content-header ul li:last-child {
  margin-right: 0;
}
.content-header ul li img {
  height: 29px;
}
@media (max-width: 767px) {
  .content-header ul li img {
    height: 18px;
  }
}
.content-header ul li img {
  max-height: 30px;
}
.content-header .h-header {
  display: flex;
  justify-content: space-between;
}
.content-header .h-header .logo img {
  width: 220px;
}
@media (max-width: 767px) {
  .content-header .h-header .logo img {
    width: auto;
    height: 104px;
  }
}
.content-header .logo {
  position: relative;
  animation: 5s fuwafuwa infinite;
  top: -20px;
}
@media (max-width: 767px) {
  .content-header .logo {
    top: -10px;
  }
}

.menu-fixed {
  position: fixed;
  bottom: 80px;
  z-index: 14;
  left: 0;
  width: 100%;
  padding: 23px 0;
  background: #fff;
  transition: 1s all !important;
  opacity: 0;
}
@media (max-width: 767px) {
  .menu-fixed {
    padding: 10px;
  }
}
.menu-fixed.active {
  bottom: 0;
  opacity: 1;
}
.menu-fixed ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .menu-fixed ul {
    justify-content: space-between;
  }
}
.menu-fixed ul li {
  margin-right: 40px;
  line-height: initial;
}
@media (max-width: 767px) {
  .menu-fixed ul li {
    margin-right: 10px;
  }
}
.menu-fixed ul li:last-child {
  margin-right: 0;
}
.menu-fixed a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #1D5D00;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .menu-fixed a {
    font-size: 14px;
  }
}

.icon-star {
  position: absolute;
}
.icon-star.star-1 {
  top: 0;
  right: 14%;
  max-width: 20%;
  animation: letter-flicker ease-out 1s infinite;
  z-index: 3;
}
@media (max-width: 767px) {
  .icon-star.star-1 {
    width: 216px;
    max-width: unset;
    top: 15%;
    right: 0;
    z-index: 1;
  }
}
.icon-star.star-2 {
  left: 0;
  top: 42%;
  max-width: 20%;
  animation: letter-flicker ease-out 1.6s infinite;
}
@media (max-width: 767px) {
  .icon-star.star-2 {
    width: 216px;
    max-width: unset;
    top: 37%;
    left: 0;
  }
}
.icon-star.star-3 {
  bottom: -12%;
  right: 2%;
  max-width: 20%;
  animation: letter-flicker ease-out 1s infinite;
}
@media (max-width: 767px) {
  .icon-star.star-3 {
    width: 210px;
    max-width: unset;
    bottom: -17%;
    right: 0;
  }
}

/* =========================================================
layout
========================================================= */
/* =========================================================
colors
========================================================= */
/* =========================================================
header
========================================================= */
.header__title {
  text-align: center;
}
.header__title img {
  vertical-align: bottom;
}

@media screen and (min-width: 769px) {
  .header__title img {
    width: auto;
    max-width: 100%;
  }
}
/* =========================================================
Main
========================================================= */
/* =========================================================
ヘッダー下バナー
========================================================= */
.top-bnr-block {
  max-width: 596px;
  margin: 0 auto;
  padding: 20px 0 0;
}
.top-bnr-block .bnr {
  margin: 0 auto 5px;
}
.top-bnr-block .bnr:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .top-bnr-block {
    max-width: 930px;
    padding: 60px 0 0;
  }
  .top-bnr-block .bnr {
    margin: 0 auto 20px;
  }
}
/* =========================================================
YouTube
========================================================= */
.youtube-block {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0 0;
}
.youtube-wrap {
  padding-top: 56.25%;
  position: relative;
}
.youtube-wrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 769px) {
  .youtube-block {
    padding: 60px 0 0;
  }
}
/* =========================================================
Local navigation
========================================================= */
.localnav-wrap {
  max-width: 1024px;
  padding: 30px 0 0;
  margin: 0 auto;
}

.localnav {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.localnav__item {
  width: calc(50% - 5px);
  position: relative;
  margin: 0 10px 0 0;
}
.localnav__item:last-child {
  margin-right: 0;
}
.localnav__item a {
  display: block;
  padding: 7px 0;
  text-align: center;
  background: #f2ec27;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
}
.localnav__item a:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 769px) {
  .localnav-wrap {
    padding: 60px 0 0;
  }
  .localnav {
    padding: 0;
  }
  .localnav__item {
    width: calc(50% - 20px);
    margin: 0 40px 0 0;
  }
  .localnav__item a {
    padding: 23px 0;
    font-size: 2.1em;
    border-radius: 8px;
  }
  .localnav__item a:after {
    border-width: 8px 6px 0 6px;
  }
  .localnav__item a:hover {
    opacity: 0.7;
    text-decoration: none;
    background: #f2ec27;
    color: #000;
  }
}
/* current */
body.page-sale .localnav__item01 a,
body.page-tag .localnav__item02 a {
  background: #f2ec27;
  color: #000;
}
body.page-sale .localnav__item01 a:after,
body.page-tag .localnav__item02 a:after {
  border-color: #f2ec27 transparent transparent transparent;
}

/* =========================================================
Contents block
========================================================= */
.contents-wrap {
  max-width: 1024px;
  margin: 40px auto 0;
}
.contents-block {
  margin: 0 0 40px;
}
.contents-block:last-child {
  margin-bottom: 0;
}
.contents-ttl {
  margin: 0 auto 25px;
  padding: 9px 0;
  background: #000;
  color: #fff;
  line-height: 1.1;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.15em;
  position: relative;
}

@media screen and (min-width: 769px) {
  .contents-wrap {
    margin: 80px auto 0;
  }
  .contents-block {
    margin: 0 0 100px;
  }
  .contents-ttl {
    margin: 0 auto 70px;
    font-size: 3rem;
  }
}
/* =========================================================
タグ集約
========================================================= */
.taglist {
  overflow: hidden;
}
.taglist__item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  list-style: none;
  display: none;
}
.taglist__item:first-child {
  border-top: 1px solid #ccc;
}
.taglist__item:last-child {
  margin-bottom: 0;
}
.taglist__item:nth-child(-n+6) { /* 初期表示6件 */
  display: block;
}
.taglist__item__in {
  height: 100%;
}
.taglist__item a {
  display: block;
  position: relative;
  height: 100%;
  padding: 15px;
  color: #555;
  background: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  box-sizing: border-box;
}
.taglist__item a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #555 transparent;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.taglist__txt {
  margin-top: 15px;
}
.taglist__photo {
  position: relative;
  padding: 0 40px;
}
.taglist__kaeru {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 10px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.1;
  display: inline-block;
  background: #ea5550;
  padding: 7px 5px;
}
.taglist__name {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.taglist__title {
  font-weight: bold;
  margin-bottom: 6px;
}

@media screen and (min-width: 769px) {
  .taglist {
    display: flex;
    flex-wrap: wrap;
  }
  .taglist__item {
    width: calc(33.33% - 10px);
    margin: 15px 15px 0 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .taglist__item:nth-child(-n+3) {
    margin-top: 0;
  }
  .taglist__item:nth-child(3n) {
    margin-right: 0;
  }
  .taglist__photo {
    padding: 0;
  }
}
.btn-taglist-more {
  display: none;
  width: calc(100% - 150px);
  max-width: 435px;
  margin: 30px auto 0;
  padding: 15px 0;
  background: #000;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .btn-taglist-more {
    margin: 40px auto 0;
  }
  .btn-taglist-more:hover {
    opacity: 0.7;
  }
}

/* =========================================================
OWNLY
========================================================= */
.ownly-wrap {
  padding: 0 10px;
}
@media screen and (min-width: 769px) {
  .ownly-wrap {
    padding: 0;
  }
}

/* =========================================================
値書き
========================================================= */
/* 館ナビ */
.floornav {
  width: calc(100% - 40px);
  max-width: 620px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
}
.floornav li {
  list-style: none;
  width: 50%;
  margin: 0;
}
.floornav li a {
  display: block;
  width: 100%;
  padding: 3px 0;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .floornav {
    margin: 0 auto 50px;
  }
  .floornav li a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
  }
  .floornav li a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}
/* current */
body.type1 .floornav .floornav__item01 a,
body.type2 .floornav .floornav__item02 a,
body.type3 .floornav .floornav__item03 a,
body.type4 .floornav .floornav__item04 a {
  background: #000;
  color: #FFF;
}

body.type1 .floornav .floornav__item01 a:after,
body.type2 .floornav .floornav__item02 a:after,
body.type3 .floornav .floornav__item03 a:after,
body.type4 .floornav .floornav__item04 a:after {
  border-color: #000 transparent transparent transparent;
}

/* 値書き*/
.salelist-container {
  margin: 50px 0 0;
}

.salelist-info1, .salelist-info2 {
  font-size: 1.5rem;
  padding: 0 10px;
  line-height: 1.6;
}

.salelists {
  margin: 20px auto 0;
}
@media screen and (min-width: 769px) {
  .salelists {
    margin: 60px auto 0;
  }
}

.salelist {
  padding: 0 0 10px;
}
.salelist__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 9px 20px;
  background: #000;
  color: #fff;
  line-height: 1.1;
}
.salelist__title .ico-arr {
  text-align: center;
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
  position: relative;
}
.salelist__title .ico-arr:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 3px);
  transition-duration: 200ms;
}
.salelist__title__floor {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.15em;
}
.salelist__shop {
  font-size: 1.4rem;
  border-top: 1px solid #ccc;
}
.salelist__shop:first-child {
  margin-top: 0;
  border-top: none;
}
.salelist__link {
  padding: 30px 15px;
  display: block;
  text-decoration: none;
  color: #000;
}
.salelist__data {
  display: table;
  width: 100%;
}
.salelist__data__item01 {
  display: table-cell;
  width: 80px;
  padding-right: 15px;
  vertical-align: middle;
}
.salelist__data__item01 img {
  border: 1px solid #ccc;
}
.salelist__data__item02 {
  display: table-cell;
  vertical-align: middle;
}
.salelist__shopname {
  font-size: 1.2rem;
  font-weight: bold;
}
.salelist__text {
  margin-top: 5px;
}

@media screen and (min-width: 769px) {
  .salelist {
    padding: 0 0 40px;
  }
  .salelist__title__floor {
    font-size: 3rem;
  }
  .salelist__cont__in {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .salelist__shop {
    width: 50%;
    margin-top: 0;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  .salelist__shop:nth-child(-n+2) {
    border: none;
  }
  .salelist__link:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  .salelist__data__item01 {
    width: 120px;
    padding-right: 25px;
  }
  .salelist__data__item01 img {
    width: 100%;
    border: none;
  }
  .salelist__shopname {
    font-size: 1.3rem;
  }
  .salelist__text {
    font-size: 1.5rem;
    margin-top: 10px;
    line-height: 1.6;
  }
}
/* 開閉時の矢印*/
.salelist__title.is-open .ico-arr:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* =========================================================
フッター上バナー
========================================================= */
.footer-bnr {
  max-width: 1024px;
  margin: 30px auto 0;
  padding: 0 10px;
}

.ft-bnr {
  margin: 0 auto 10px;
}
.ft-bnr:last-child {
  margin-bottom: 0;
}
.ft-bnr a {
  display: block;
}

@media screen and (min-width: 769px) {
  .footer-bnr {
    margin: 60px auto 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .ft-bnr {
    width: calc(50% - 10px);
    margin: 0 20px 0 0;
  }
  .ft-bnr:last-child {
    margin-right: 0;
  }
  .ft-bnr a:hover {
    opacity: 0.7;
  }
}
.modal-block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;
  display: none;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background: url("../images/ami02.svg") no-repeat, #fff;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-wrap {
  width: 100%;
  max-width: 1050px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 33;
}
@media (max-width: 1200px) {
  .modal-wrap {
    max-width: calc(100% - 40px);
  }
}
.modal-wrap:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 153px;
  background: url(../images/icon-modal.png) no-repeat;
  bottom: -150px;
  left: 0;
  right: 0;
  margin: auto;
  background-size: 100%;
  z-index: 5;
}

@media (max-width: 1023px) {
  .content-mdal {
    max-height: 86vh;
    overflow: auto;
    position: relative;
  }
}

.modal-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 25px 130px;
  border: 3px solid #000;
  background: #fff;
  position: relative;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3019607843);
  border-bottom: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 500px;
  overflow: scroll;
}
@media (max-width: 1023px) {
  .modal-cont {
    height: auto;
    display: block;
    padding: 0 0 80px 0;
    overflow: hidden;
  }
}
@media (max-width: 1023px) {
  .modal-cont .slick-slider {
    position: unset;
  }
}
.modal-cont::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1023px) {
  .modal-cont .img-wrap {
    width: 100%;
  }
}
.modal-cont img {
  width: 100%;
}

.modal-close {
  background: none;
  border: none;
  position: absolute;
  right: -50px;
  top: -50px;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 1023px) {
  .modal-close {
    top: -25px;
    right: unset;
    left: -12px;
  }
}
@media (max-width: 1023px) {
  .modal-close img {
    width: 64px;
    height: auto;
  }
}

.img-wrap, .modal-detail {
  box-sizing: border-box;
}

.modal-item-info {
  margin-top: 75px;
}
@media (max-width: 1023px) {
  .modal-item-info {
    margin: 0;
  }
}
.modal-item-info .parco-tag {
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.img-wrap {
  width: 47.5%;
}
@media (max-width: 1023px) {
  .img-wrap {
    width: 100%;
  }
}

.modal-detail {
  width: 31%;
  margin-left: 95px;
}
@media (max-width: 1023px) {
  .modal-detail {
    width: 100%;
    margin: 0;
    padding: 30px 28px;
  }
}

/* =========================================================
フッター上SNSボタン
========================================================= */
.footer__social {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.footer__social .social__item {
  display: inline-block;
  height: 20px;
  margin: 0 2px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}
@media screen and (min-width: 769px) {
  .footer__social .social__item {
    margin: 0 11px;
  }
}
.footer__social .social__item a:hover {
  opacity: 0.6;
}
.footer__social .social__item img {
  height: 100%;
}

/* =========================================================
main
========================================================= */
/*
▼Ten Mincho Antique Medium
font-family: "ten-mincho-antique", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Regular
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 400;
font-style: normal;

▼Source Han Sans JP Medium
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 500;
font-style: normal;

▼Source Han Sans JP Bold
font-family: "source-han-sans-japanese", sans-serif;
font-weight: 700;
font-style: normal;

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.rokkitt-<uniquifier> {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "source-han-sans-japanese", sans-serif;
  font-weight: 400;
}

.scroll {
  z-index: 5;
  position: absolute;
  bottom: 20px;
  right: 20px;
  animation: bounce 1.5s infinite;
}
@media (max-width: 1023px) {
  .scroll {
    bottom: 10px;
    right: 10px;
  }
  .scroll img {
    max-height: 42px;
  }
}

.container {
  max-width: 1130px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 18px;
  }
}

.btn-bar-menu {
  position: fixed;
  z-index: 10;
  top: 10px;
  left: 10px;
  display: none;
  opacity: 0;
}
@media (max-width: 1023px) {
  .btn-bar-menu {
    display: flex;
  }
  .btn-bar-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.btn-bar-menu.active {
  opacity: 1;
}

.ribo-hr {
  margin-top: 50px;
  width: 80px;
  left: 0;
  position: relative;
  margin-left: 0;
}
@media (max-width: 1023px) {
  .ribo-hr {
    margin-top: 36px;
    width: 45px;
  }
}

.block-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.back-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
@media (max-width: 1023px) {
  .back-top {
    right: 16px;
    bottom: 16px;
  }
}
@media (min-width: 769px) {
  .back-top:hover .back-top-unset {
    opacity: 0;
    visibility: hidden;
  }
  .back-top:hover .back-top-hover {
    opacity: 1;
    visibility: visible;
  }
}
.back-top-hover {
  visibility: hidden;
  opacity: 0;
}
.back-top img {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .back-top img {
    max-width: 45px;
  }
}

.slick-arrow {
  position: absolute;
  bottom: -80px;
}
@media (max-width: 1023px) {
  .slick-arrow {
    bottom: 32px;
  }
}
.slick-arrow.next {
  right: 80px;
}
@media (max-width: 1023px) {
  .slick-arrow.next {
    right: 70px;
  }
}
.slick-arrow.next img {
  margin-left: 20px;
}
@media (max-width: 1023px) {
  .slick-arrow.next img {
    margin-left: 10px;
  }
}
.slick-arrow.prev {
  left: 80px;
}
@media (max-width: 1023px) {
  .slick-arrow.prev {
    left: 70px;
  }
}
.slick-arrow.prev img {
  margin-right: 20px;
}
@media (max-width: 1023px) {
  .slick-arrow.prev img {
    margin-right: 10px;
  }
}
.slick-arrow img {
  max-width: 29px;
}
@media (max-width: 1023px) {
  .slick-arrow img {
    max-width: 17px;
  }
}

.slick-arrow button {
  background: none;
  border: 0;
  font-size: 19px;
  font-family: "Rokkitt", serif;
  font-weight: bold;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .slick-arrow button {
    font-size: 14px;
  }
}

.nav {
  background: url("../images/ami.svg") no-repeat, #fff;
  background-size: cover;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 3px solid #000;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 55;
}
@media (max-width: 1023px) {
  .nav {
    display: none !important;
  }
}
.nav-body {
  max-width: 952px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}
.nav-list-link {
  font-family: "Rokkitt", serif;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 1.4;
  letter-spacing: 0;
  text-decoration-line: unset;
  position: relative;
  transition: 0.3s all;
}
@media (max-width: 1200px) {
  .nav-list-link {
    font-size: 20px;
  }
}
.nav-list-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #000;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  transition: 0.3s all;
}
@media (min-width: 769px) {
  .nav-list-link:hover:before {
    transition: 0.3s all;
    width: 100%;
  }
}

.mv {
  margin-bottom: 160px;
}
@media (max-width: 1023px) {
  .mv {
    position: relative;
    z-index: 12;
  }
}
@media (max-width: 1023px) {
  .mv {
    margin-bottom: 125px;
  }
}
.mv-body {
  width: 100%;
  position: relative;
  height: 56.25vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .mv-body {
    height: 178.15vw;
  }
}
.mv-body .avarta {
  position: absolute;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 1023px) {
  .mv-body .avarta {
    display: none;
  }
}
.mv-body .avarta img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mv-body .bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  z-index: 1;
}
@media (max-width: 1023px) {
  .mv-body .bg-cover {
    display: none;
  }
}
.mv-listitem {
  position: absolute;
  width: 100%;
  z-index: 3;
}
.mv-listitem > * {
  position: absolute;
  z-index: -1;
}
.mv-listitem-01 {
  left: 25.5vw;
  top: 3vw;
  z-index: 4;
}
@media (max-width: 768px) {
  .mv-listitem-01 {
    left: 7.5vw;
    top: 49vw;
    z-index: 7;
  }
}
.mv-listitem-01 img {
  width: 48vw;
}
@media (max-width: 768px) {
  .mv-listitem-01 img {
    width: 80vw;
  }
}
.mv-listitem-02 {
  left: 23vw;
  top: 25vw;
  z-index: 5;
}
@media (max-width: 768px) {
  .mv-listitem-02 {
    left: 18vw;
    top: 86vw;
    z-index: 9;
  }
}
.mv-listitem-02 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-02 img {
    width: 53.33vw;
  }
}
.mv-listitem-03 {
  left: 55.5vw;
  top: 0.5vw;
  z-index: 5;
}
@media (max-width: 768px) {
  .mv-listitem-03 {
    left: 52.5vw;
    top: 27.5vw;
    z-index: 9;
  }
}
.mv-listitem-03 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-03 img {
    width: 53.33vw;
  }
}
.mv-listitem-04 {
  left: 50.2vw;
  top: 15vw;
  z-index: 4;
}
@media (max-width: 768px) {
  .mv-listitem-04 {
    left: 50.2vw;
    top: 55vw;
    z-index: 8;
  }
}
.mv-listitem-04 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-04 img {
    width: 53.33vw;
  }
}
.mv-listitem-05 {
  left: 14vw;
  top: 8.5vw;
  z-index: 4;
}
@media (max-width: 768px) {
  .mv-listitem-05 {
    left: -11vw;
    top: 75.5vw;
    z-index: 9;
  }
}
.mv-listitem-05 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-05 img {
    width: 53.33vw;
  }
}
.mv-listitem-06 {
  left: -9vw;
  top: -4.4vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-06 {
    left: -21vw;
    top: -21.4vw;
  }
}
.mv-listitem-06 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-06 img {
    width: 53.33vw;
  }
}
.mv-listitem-07 {
  left: 0.8vw;
  top: -6.5vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-07 {
    left: 22.8vw;
    top: -14.5vw;
  }
}
.mv-listitem-07 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-07 img {
    width: 53.33vw;
  }
}
.mv-listitem-08 {
  left: 10vw;
  top: -4.4vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-08 {
    left: 0vw;
    top: -17.4vw;
    z-index: 1;
  }
}
.mv-listitem-08 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-08 img {
    width: 53.33vw;
  }
}
.mv-listitem-09 {
  left: 19vw;
  top: -8.9vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-09 {
    right: 0;
    left: auto;
    top: -16.9vw;
    z-index: 0;
  }
}
.mv-listitem-09 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-09 img {
    width: 53.33vw;
  }
}
.mv-listitem-10 {
  left: 30.5vw;
  top: -7.5vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-10 {
    right: -23vw;
    left: auto;
    top: -4.5vw;
    z-index: -1;
  }
}
.mv-listitem-10 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-10 img {
    width: 53.33vw;
  }
}
.mv-listitem-11 {
  left: 41.5vw;
  top: -7vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-11 {
    left: 5vw;
    top: 16vw;
    z-index: 3;
  }
}
.mv-listitem-11 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-11 img {
    width: 53.33vw;
  }
}
.mv-listitem-12 {
  right: 14.5vw;
  top: -7vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-12 {
    left: 22vw;
    top: 17vw;
    z-index: 2;
  }
}
.mv-listitem-12 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-12 img {
    width: 53.33vw;
  }
}
.mv-listitem-13 {
  right: 1.2vw;
  top: -5vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-13 {
    right: 5.2vw;
    top: 10vw;
  }
}
.mv-listitem-13 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-13 img {
    width: 53.33vw;
  }
}
.mv-listitem-14 {
  right: -11vw;
  top: -6vw;
  z-index: 4;
}
@media (max-width: 768px) {
  .mv-listitem-14 {
    left: -19vw;
    top: 16vw;
    z-index: 2;
  }
}
.mv-listitem-14 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-14 img {
    width: 53.33vw;
  }
}
.mv-listitem-15 {
  left: -11.3vw;
  top: 15vw;
  z-index: 3;
}
@media (max-width: 768px) {
  .mv-listitem-15 {
    right: -21vw;
    left: auto;
    top: 40vw;
  }
}
.mv-listitem-15 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-15 img {
    width: 53.33vw;
  }
}
.mv-listitem-16 {
  left: 0;
  top: 13vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-16 {
    left: -17vw;
    top: 52vw;
    z-index: 0;
  }
}
.mv-listitem-16 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-16 img {
    width: 53.33vw;
  }
}
.mv-listitem-17 {
  right: 13.3vw;
  top: 17vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-17 {
    right: -60px;
    top: 76vw;
  }
}
.mv-listitem-17 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-17 img {
    width: 53.33vw;
  }
}
.mv-listitem-18 {
  right: 4vw;
  top: 14.5vw;
  z-index: 3;
}
@media (max-width: 768px) {
  .mv-listitem-18 {
    left: 0vw;
    top: 86vw;
    z-index: 1;
  }
}
.mv-listitem-18 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-18 img {
    width: 53.33vw;
  }
}
.mv-listitem-19 {
  right: -8vw;
  top: 14vw;
  z-index: 3;
}
@media (max-width: 768px) {
  .mv-listitem-19 {
    left: -29vw;
    top: 73vw;
  }
}
.mv-listitem-19 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-19 img {
    width: 53.33vw;
  }
}
.mv-listitem-20 {
  left: -9vw;
  top: 31.8vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-20 {
    right: -22vw;
    left: auto;
    top: 100vw;
    z-index: 3;
  }
}
.mv-listitem-20 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-20 img {
    width: 53.33vw;
  }
}
.mv-listitem-21 {
  left: 0.5vw;
  top: 35.2vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-21 {
    right: 3.5vw;
    left: auto;
    top: 101.2vw;
    z-index: 2;
  }
}
.mv-listitem-21 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-21 img {
    width: 53.33vw;
  }
}
.mv-listitem-22 {
  left: 9.5vw;
  top: 23.8vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-22 {
    left: 19.5vw;
    top: 108.8vw;
    z-index: 1;
  }
}
.mv-listitem-22 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-22 img {
    width: 53.33vw;
  }
}
.mv-listitem-23 {
  left: 13.5vw;
  top: 31.2vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-23 {
    left: -1.5vw;
    top: 114.2vw;
    z-index: 0;
  }
}
.mv-listitem-23 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-23 img {
    width: 53.33vw;
  }
}
.mv-listitem-24 {
  left: 26.5vw;
  top: 33vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-24 {
    left: -21.5vw;
    top: 101vw;
    z-index: -1;
  }
}
.mv-listitem-24 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-24 img {
    width: 53.33vw;
  }
}
.mv-listitem-25 {
  right: 30.5vw;
  top: 33vw;
  z-index: 3;
}
@media (max-width: 768px) {
  .mv-listitem-25 {
    left: -20vw;
    top: 133vw;
    z-index: 6;
  }
}
.mv-listitem-25 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-25 img {
    width: 53.33vw;
  }
}
.mv-listitem-26 {
  right: 18.5vw;
  top: 33vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-26 {
    right: -2vw;
    top: 131vw;
    z-index: 6;
  }
}
.mv-listitem-26 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-26 img {
    width: 53.33vw;
  }
}
.mv-listitem-27 {
  right: 9vw;
  top: 33vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .mv-listitem-27 {
    left: 7vw;
    top: 143vw;
    z-index: 5;
  }
}
.mv-listitem-27 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-27 img {
    width: 53.33vw;
  }
}
.mv-listitem-28 {
  right: -1.5vw;
  top: 31.5vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .mv-listitem-28 {
    right: 16vw;
    top: 136vw;
    z-index: 1;
  }
}
.mv-listitem-28 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-28 img {
    width: 53.33vw;
  }
}
.mv-listitem-29 {
  right: -11.3vw;
  top: 30.5vw;
  z-index: 2;
}
@media (max-width: 768px) {
  .mv-listitem-29 {
    right: -20vw;
    top: 135vw;
    z-index: 0;
  }
}
.mv-listitem-29 img {
  width: 29.42vw;
}
@media (max-width: 768px) {
  .mv-listitem-29 img {
    width: 53.33vw;
  }
}
.mv-background img {
  width: 100%;
}

.icon-title {
  text-align: center;
  position: relative;
  z-index: 3;
}

.ribo-text {
  max-width: 1080px;
  margin: 0 auto 350px;
}
@media (max-width: 1250px) {
  .ribo-text {
    max-width: 100%;
    margin: 0 auto 200px auto;
  }
}
@media (max-width: 1023px) {
  .ribo-text {
    margin: 0 auto 97px auto;
    padding: 0 10px;
  }
}
.ribo-text > * {
  font-family: "source-han-sans-japanese", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.85;
}
@media (max-width: 1023px) {
  .ribo-text > * {
    font-size: 14px;
  }
}
.ribo-text-english {
  font-size: 22px;
  color: #3AAA63;
  font-family: "Rokkitt", serif;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 5px;
}
@media (max-width: 1023px) {
  .ribo-text-english {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.ribo-text h2 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "source-han-sans-japanese", sans-serif;
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  .ribo-text h2 {
    font-size: 26px;
    margin-bottom: 48px;
  }
}
.ribo-text-buttom-line {
  display: inline-block;
  margin-top: 35px;
  position: relative;
}
@media (max-width: 1023px) {
  .ribo-text-buttom-line {
    margin-top: 0;
  }
}
.ribo-text-timeline {
  margin-top: 45px;
}
@media (max-width: 1023px) {
  .ribo-text-timeline {
    margin-top: 36px;
  }
}
.ribo-text-timeline-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .ribo-text-timeline-list {
    display: block;
  }
}
.ribo-text-timeline-item {
  position: relative;
  padding-left: 20px;
}
.ribo-text-timeline-item:last-child {
  margin-right: 0;
}
.ribo-text-timeline-item:before {
  position: absolute;
  content: "＊";
  color: #3AAA63;
  left: 0;
  top: 0;
}

.line-ribo-txt {
  position: relative;
  width: max-content;
}
@media (max-width: 1023px) {
  .line-ribo-txt {
    width: auto;
  }
}
.line-ribo-txt .line {
  background: #3AAA63;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s all !important;
}

.list-column {
  opacity: 0;
}
.list-column img {
  width: 100%;
}
.list-column-first {
  margin: 0 auto 100px;
}
@media (max-width: 1023px) {
  .list-column-first {
    margin: 0 0 56px 0;
  }
}
.list-column-first .list-column-last-item {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.list-column-first .list-column-last-item-info {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
@media (max-width: 1023px) {
  .list-column-first .list-column-last-item-info {
    display: block;
  }
}
.list-column-first .list-column-last-img {
  max-width: 60%;
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  .list-column-first .list-column-last-img {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .list-column-first .list-column-last-img .parco-tag {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: unset;
    bottom: -20px;
    right: 20px;
    max-width: 90px;
  }
}
.list-column-first .list-column-last-item-desc {
  max-width: 40%;
  padding: 0 10% 0 0;
  flex: 0 0 40%;
  position: relative;
}
@media (max-width: 1250px) {
  .list-column-first .list-column-last-item-desc {
    padding: 0 6% 0 0;
  }
}
@media (max-width: 1023px) {
  .list-column-first .list-column-last-item-desc {
    padding: 0 32px !important;
    max-width: 100%;
  }
}
.list-column-first .list-column-last-item .parco-tag {
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  margin-bottom: 30px;
}
.list-column-first-list {
  display: flex;
  box-sizing: border-box;
}
.list-column-first-left {
  max-width: 30.8%;
  margin-right: 100px;
}
.list-column-first-right {
  max-width: 59.5%;
}
@media (max-width: 1023px) {
  .list-column-first .parco-title {
    margin-bottom: 18px;
  }
}
@media (max-width: 1023px) {
  .list-column-first .parco-title h3 {
    font-size: 18px;
  }
}
.list-column-last {
  display: flex;
  flex-wrap: wrap;
  margin-left: -23px;
  margin-right: -23px;
}
@media (max-width: 1023px) {
  .list-column-last {
    display: block;
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .list-column-last-item-info {
    display: flex;
  }
}
.list-column-last-item {
  width: 33.3333333333%;
  padding-left: 23px;
  padding-right: 23px;
  box-sizing: border-box;
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .list-column-last-item {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .list-column-last-item:last-child {
    margin-bottom: 0;
  }
}
.list-column-last-item.active {
  display: none;
}
.list-column-last-item .parco-tag {
  position: absolute;
  right: -13px;
  top: -85px;
}
@media (max-width: 1023px) {
  .list-column-last-item .parco-tag {
    display: none;
  }
}
.list-column-last-item-desc {
  padding: 0 25px 25px 25px;
  position: relative;
}
@media (max-width: 1023px) {
  .list-column-last-item-desc {
    flex: 0 0 calc(100% - 108px);
    max-width: calc(100% - 108px);
    padding: 0 0 0 20px;
  }
}
.list-column-last-img {
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 1023px) {
  .list-column-last-img {
    margin: 0;
    flex: 0 0 108px;
    max-width: 108px;
  }
}
.list-column-last-img .parco-tag {
  display: none;
}
@media (max-width: 1023px) {
  .list-column-last-img .parco-tag {
    display: block;
    top: 0;
    right: 0;
    position: relative;
    margin: 8px 0 0 0;
  }
}

.parco-tag {
  max-width: 134px;
  margin: 0 auto 30px;
}
@media (max-width: 1023px) {
  .parco-tag {
    display: none;
  }
}
.parco-title {
  margin-bottom: 25px;
}
@media (max-width: 1023px) {
  .parco-title {
    margin-bottom: 13px;
  }
}
.parco-title h3 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.25;
  font-family: "ten-mincho-antique", sans-serif;
  font-weight: 500;
}
@media (max-width: 1023px) {
  .parco-title h3 {
    font-size: 15px;
  }
}
.parco-desciption {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.75;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .parco-desciption {
    font-size: 12px;
    margin-bottom: 0;
  }
}
.parco-time, .parco-adress {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.75;
}
@media (max-width: 1023px) {
  .parco-time, .parco-adress {
    font-size: 12px;
  }
}
.parco-link {
  margin-top: 20px;
  text-align: right;
}
.parco-link a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
  position: relative;
}
@media (max-width: 1023px) {
  .parco-link a {
    border-bottom: 3px solid;
    padding-bottom: 4px;
    font-size: 12px;
  }
}
.parco-link a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #000000;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all !important;
}
.parco-link a:hover:after {
  width: 100%;
}

.event {
  background: #B2FF9A;
}
@media (max-width: 1023px) {
  .event {
    padding-bottom: 56px;
  }
}
.event:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom right, #fff 50%, #B2FF9A 50%);
}
@media (max-width: 1023px) {
  .event:before {
    height: 100px;
  }
}
.event .icon-title {
  margin-top: -25px;
}
@media (max-width: 1023px) {
  .event .icon-title {
    margin-top: -80px;
  }
}
@media (max-width: 1023px) {
  .event .icon-title img {
    max-height: 62px;
  }
}
.event-body {
  padding-top: 100px;
}
@media (max-width: 1023px) {
  .event-body {
    padding-top: 65px;
  }
}
.event .list-column-first .list-column-last-item-info {
  flex-direction: row-reverse;
}
.event .list-column-first .list-column-last-item-desc {
  margin-left: 0;
}

@media (max-width: 1023px) {
  .talk-show {
    padding-bottom: 56px;
  }
}
.talk-show:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(to top right, #fff 50%, #B2FF9A 50%);
  z-index: 1;
}
@media (max-width: 1023px) {
  .talk-show:before {
    height: 100px;
  }
}
.talk-show .icon-title {
  margin-top: -85px;
}
@media (max-width: 1023px) {
  .talk-show .icon-title img {
    max-height: 62px;
  }
}
.talk-show-body {
  padding-top: 110px;
}
@media (max-width: 1023px) {
  .talk-show-body {
    padding: 80px 0 0 0;
  }
}
.talk-show .list-column-last-item-desc {
  margin-right: 0;
  padding: 0 0 0 10%;
}
@media (max-width: 1023px) {
  .talk-show .list-column-last-item-desc {
    padding: 0 0 0 20px;
  }
}

.popup-shop {
  background: #FFE07E;
}
@media (max-width: 1023px) {
  .popup-shop {
    padding-bottom: 56px;
  }
}
.popup-shop:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom right, #fff 50%, #FFE07E 50%);
}
@media (max-width: 1023px) {
  .popup-shop:before {
    height: 100px;
  }
}
.popup-shop .icon-title {
  margin-top: -45px;
}
@media (max-width: 1023px) {
  .popup-shop .icon-title {
    margin-top: -80px;
  }
}
@media (max-width: 1023px) {
  .popup-shop .icon-title img {
    max-height: 62px;
  }
}
.popup-shop-body {
  padding-top: 110px;
}
@media (max-width: 1023px) {
  .popup-shop-body {
    padding-top: 56px;
  }
}
.popup-shop .list-column-first .list-column-last-item-info {
  flex-direction: row-reverse;
}
.popup-shop .list-column-first .list-column-last-item-desc {
  margin-left: 0;
}

@media (max-width: 1023px) {
  .sustainable-action {
    padding-bottom: 56px;
  }
}
.sustainable-action:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(to top right, #fff 50%, #FFE07E 50%);
  z-index: 1;
}
@media (max-width: 1023px) {
  .sustainable-action:before {
    height: 100px;
  }
}
.sustainable-action .icon-title {
  margin-top: 60px;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  .sustainable-action .icon-title {
    margin-top: 56px;
    margin-bottom: 36px;
  }
}
@media (max-width: 1023px) {
  .sustainable-action .icon-title img {
    max-height: 62px;
  }
}
.sustainable-action-text {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.85;
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .sustainable-action-text {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.sustainable-action .parco-link {
  text-align: center;
}
.sustainable-action .parco-link a {
  text-decoration: none;
}

.footer {
  background: url("../images/ami.svg"), #3AAA63 no-repeat;
}
@media (max-width: 1023px) {
  .footer {
    padding-bottom: 44px;
  }
}
.footer:before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom right, #fff 50%, transparent 50%);
}
@media (max-width: 1023px) {
  .footer:before {
    height: 100px;
  }
}
.footer-body {
  padding-top: 100px;
}
@media (max-width: 1023px) {
  .footer-body {
    padding-top: 38px;
  }
}
.footer-logo {
  text-align: center;
  max-width: 175px;
  margin: 0 auto 15px;
}
@media (max-width: 1023px) {
  .footer-logo {
    margin: 0 auto;
  }
  .footer-logo img {
    max-height: 100px;
  }
}
.footer-copyright {
  font-size: 19px;
  font-family: "Rokkitt", serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
}
@media (max-width: 1023px) {
  .footer-copyright {
    font-size: 13px;
  }
}

.sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 1023px) {
  .sns {
    margin: 0;
    padding: 16px 0;
  }
}
.sns-item {
  margin-right: 11px;
}
.sns-item:last-child {
  margin-right: 0;
}
.sns-item a {
  transition: 0.3s all;
}
.sns-item a:hover {
  transition: 0.3s all;
  opacity: 0.8;
}

@keyframes bounce {
  from, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.nav-mb {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 12;
  text-align: center;
  background: url("../images/mv/top_ami_pc.png") no-repeat center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .nav-mb {
    display: flex;
  }
}
.nav-mb.active {
  top: 0;
}
.nav-mb .close-menu {
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-mb ul li {
  margin-bottom: 30px;
}
.nav-mb ul li:last-child {
  margin-bottom: 0;
}
.nav-mb ul li img {
  max-height: 62px;
}

/*# sourceMappingURL=style.css.map */
