@charset "utf-8";

/* =========================================================
default
========================================================= */
/* =========================================================
PARCO Header
========================================================= */
.phd {
  padding: 0 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.phd__in {
  height: 55px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.phd__logo a {
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

.phd__logo__txt {
  width: 13px;
  height: 26px;
  margin-right: 2px;
}

.phd__logo__img {
  width: 92px;
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.phd__logo__img.parcoya-ueno {
  width: 155px;
  height: 25px;
}

.phd__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phd__sns li {
  margin-right: 8px;
}

.phd__sns li:last-child {
  margin-right: 0;
}

.phd__sns li a {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #222;
  border-radius: 50%;
}

@media screen and (min-width: 769px) {
  .phd__sns li a {
    width: 28px;
    height: 28px;
  }
  .phd__sns li a:hover {
    opacity: 0.7;
  }
}

.phd__sns li a svg {
  fill: #FFF;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .phd {
    padding: 0 20px;
  }
  .phd__in {
    height: 64px;
  }
  .phd__logo__txt {
    display: inline-block;
    font-size: 1.5rem;
    width: 14px;
    height: 32px;
    margin-right: 4px;
    vertical-align: middle;
  }
  .phd__logo__img {
    width: 120px;
    height: 36px;
    vertical-align: middle;
  }
  .phd__logo__img.parcoya-ueno {
    width: 205px;
    height: 34px;
  }
}

.phd__sns li .phd__sns__item__link-facebook {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-facebook svg {
  height: 35px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-facebook svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-twitter {
  background: #3AB1DB;
}

.phd__sns li .phd__sns__item__link-twitter svg {
  height: 16px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-twitter svg {
    height: 11px;
  }
}

.phd__sns li .phd__sns__item__link-lineat {
  background: transparent;
}

.phd__sns li .phd__sns__item__link-lineat svg {
  height: 35px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-lineat svg {
    height: 28px;
  }
}

.phd__sns li .phd__sns__item__link-instagram {
  background: #d93174;
}

.phd__sns li .phd__sns__item__link-instagram svg {
  height: 19px;
}

@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-instagram svg {
    height: 15px;
  }
}
.phd__sns li .phd__sns__item__link-tiktok {
  background: #000000;
}
.phd__sns li .phd__sns__item__link-tiktok svg {
  height: 19px;
  @media screen and (min-width:769px){
    height: 17px;
  }
}
.phd__sns li .phd__sns__item__link-x {
  background: #000;
}
.phd__sns li .phd__sns__item__link-x svg {
  fill: #fff;
  height: 18px;
}
@media screen and (min-width: 769px) {
  .phd__sns li .phd__sns__item__link-x svg {
    height: 13px;
  }
}

/* =========================================================
PARCO Footer
========================================================= */
.pft{
  margin-top: 13px;
  padding: 50px 0 40px;
  background: #222;
  position: relative;
  @media screen and (max-width:769px){
    margin-top: 13px;
    padding: 45px 0 58px;
  }
  &__in {
    position:relative;
    margin:0 auto;
    @media screen and (min-width:769px){
      max-width: 930px;
    }
  }
  &__logo {
    text-align: center;
    svg {
      fill: #fff;
    }
    a {
      text-decoration: none;
    }
    &__txt {
      width: 14px;
      height: 32px;
      margin-right: 4px;
    }
    &__img {
      width: 120px;
      height: 36px;
      vertical-align: bottom;
      margin-bottom: -1px;
      &.parcoya-ueno {
        width: 205px;
        height: 34px;
      }
    }
    &.nagoya {
      .pft__logo__txt {
        margin-right: 5px;
      }
    }
  }
  &__pageTop {
    position:absolute;
    top: -66px;
    left:50%;
    margin-left: -22px;
    @media screen and (min-width:769px){
      display: none;
      position: fixed;
      top: auto;
      left: auto;
      right: 30px;
      bottom: 125px;
      margin: 0;
      z-index: 10;
    }
    a {
      display: inline-block;
      position: relative;
      width: 45px;
      height: 45px;
      background: #222;
      border-radius: 50%;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      @media screen and (min-width:769px){
        width: 54px;
        height: 54px;
        background: #FFF;
        border-radius: 50%;
        text-indent: 100%;
      }
      &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px 0 0 -6px;
      width: 7px;
      height: 7px;
      border-top: #fff 2px solid;
      border-right: #fff 2px solid;
      transform: rotate(-45deg);
      @media screen and (min-width:769px){
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -7px;
        width: 11px;
        height: 11px;
        border-top: #A87236 3px solid;
        border-right: #A87236 3px solid;
        }
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__copyright {
    margin-top: 30px;
    text-align: center;
    line-height: 0;
    svg {
      height: 11px;
      fill: #fff;
      overflow: hidden;
    }
  }
}

.text-center {
  text-align: center;
}

.title {
  margin-bottom: 50px;
  @media (max-width: 1023px) {
    margin-bottom: 30px;
  }
  .icon-title {
    margin-bottom: 36px;
    @media (max-width: 1023px) {
      margin-bottom: 20px;
    }
    svg {
      @media (max-width: 1023px) {
        width: auto;
        height: 48px;
      }
    }
  }
  h2 {
    span {
      font-size: 72px;
      //color: #A87236;
      letter-spacing: 5.76px;
      line-height: 1.4;
      text-align: center;
      font-family: "garamond-premier-pro-display", sans-serif;
      display: inline-flex;

      background-color: transparent;
      background-image: linear-gradient(350deg, #A87236 33%, #F0E6DE 33.1%, #F0E6DE 66%, #5D4C3C 66.1%, #A87236 100%);
      background-size: 100% 400%;
      background-position: 50% 150%;
      background-repeat: repeat-x;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      opacity: 0;
      visibility: hidden;
      &.animated {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        background-position: 50% 0;
        -webkit-transition: background-position 2s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: background-position 2s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: background-position 2s cubic-bezier(0.39, 0.575, 0.565, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: background-position 2s cubic-bezier(0.39, 0.575, 0.565, 1), transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      @media (max-width: 1023px) {
        font-size: 42px;
        letter-spacing: 3.36px;
        line-height: 0.9;
      }
    }
  }
}

.swiper-event-bott {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  @media (max-width: 767px) {
    margin-top: 10px;
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    position: relative;
    @media (max-width: 767px) {
      padding: 0 20px;
    }
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: 1px solid #A87236;
      border-radius: 100%;
      background: transparent;
      opacity: 1;
      margin-right: 16px;
      @media (max-width: 767px) {
        width: 14px;
        height: 14px;
      }
      &:last-child {
        margin: 0;
      }
      &.swiper-pagination-bullet-active {
        background: #A87236;
      }
    }
  }
  .swiper-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    left: 0;
    right: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      border-radius: 100%;
      filter: blur(3px);
    }
    img {
      width: auto;
      position: relative;
      z-index: 2;
    }
  }
}

.mb-140 {
  margin-bottom: 140px;
  @media (max-width: 1023px) {
    margin-bottom: 80px;
  }
}